<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.point.mapper.MaterialcostMapper" >
  <resultMap id="BaseResultMap" type="com.point.entity.Materialcost" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MateriaType" property="materiatype" jdbcType="VARCHAR" />
    <result column="MateriaName" property="materianame" jdbcType="VARCHAR" />
    <result column="UnitPrice" property="unitprice" jdbcType="DECIMAL" />
    <result column="UnitName" property="unitname" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MateriaType, MateriaName, UnitPrice, UnitName, Remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.point.entity.MaterialcostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from materialcost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from materialcost
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from materialcost
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.point.entity.MaterialcostExample" >
    delete from materialcost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.point.entity.Materialcost" >
    insert into materialcost (ID, MateriaType, MateriaName, 
      UnitPrice, UnitName, Remark
      )
    values (#{id,jdbcType=INTEGER}, #{materiatype,jdbcType=VARCHAR}, #{materianame,jdbcType=VARCHAR}, 
      #{unitprice,jdbcType=DECIMAL}, #{unitname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.point.entity.Materialcost" >
    insert into materialcost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="materiatype != null" >
        MateriaType,
      </if>
      <if test="materianame != null" >
        MateriaName,
      </if>
      <if test="unitprice != null" >
        UnitPrice,
      </if>
      <if test="unitname != null" >
        UnitName,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="materiatype != null" >
        #{materiatype,jdbcType=VARCHAR},
      </if>
      <if test="materianame != null" >
        #{materianame,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.point.entity.MaterialcostExample" resultType="java.lang.Integer" >
    select count(*) from materialcost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update materialcost
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.materiatype != null" >
        MateriaType = #{record.materiatype,jdbcType=VARCHAR},
      </if>
      <if test="record.materianame != null" >
        MateriaName = #{record.materianame,jdbcType=VARCHAR},
      </if>
      <if test="record.unitprice != null" >
        UnitPrice = #{record.unitprice,jdbcType=DECIMAL},
      </if>
      <if test="record.unitname != null" >
        UnitName = #{record.unitname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update materialcost
    set ID = #{record.id,jdbcType=INTEGER},
      MateriaType = #{record.materiatype,jdbcType=VARCHAR},
      MateriaName = #{record.materianame,jdbcType=VARCHAR},
      UnitPrice = #{record.unitprice,jdbcType=DECIMAL},
      UnitName = #{record.unitname,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.point.entity.Materialcost" >
    update materialcost
    <set >
      <if test="materiatype != null" >
        MateriaType = #{materiatype,jdbcType=VARCHAR},
      </if>
      <if test="materianame != null" >
        MateriaName = #{materianame,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        UnitPrice = #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="unitname != null" >
        UnitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.point.entity.Materialcost" >
    update materialcost
    set MateriaType = #{materiatype,jdbcType=VARCHAR},
      MateriaName = #{materianame,jdbcType=VARCHAR},
      UnitPrice = #{unitprice,jdbcType=DECIMAL},
      UnitName = #{unitname,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>