<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.point.mapper.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="com.point.entity.OperateLog" >
    <id column="OperateLog" property="operatelog" jdbcType="INTEGER" />
    <result column="UserRealName" property="userrealname" jdbcType="VARCHAR" />
    <result column="Operation" property="operation" jdbcType="VARCHAR" />
    <result column="ChangeLastTime" property="changelasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    OperateLog, UserRealName, Operation, ChangeLastTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.point.entity.OperateLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operate_log
    where OperateLog = #{operatelog,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operate_log
    where OperateLog = #{operatelog,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.point.entity.OperateLogExample" >
    delete from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.point.entity.OperateLog" >
    insert into operate_log (OperateLog, UserRealName, Operation, 
      ChangeLastTime)
    values (#{operatelog,jdbcType=INTEGER}, #{userrealname,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{changelasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.point.entity.OperateLog" >
    insert into operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operatelog != null" >
        OperateLog,
      </if>
      <if test="userrealname != null" >
        UserRealName,
      </if>
      <if test="operation != null" >
        Operation,
      </if>
      <if test="changelasttime != null" >
        ChangeLastTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operatelog != null" >
        #{operatelog,jdbcType=INTEGER},
      </if>
      <if test="userrealname != null" >
        #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="changelasttime != null" >
        #{changelasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.point.entity.OperateLogExample" resultType="java.lang.Integer" >
    select count(*) from operate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operate_log
    <set >
      <if test="record.operatelog != null" >
        OperateLog = #{record.operatelog,jdbcType=INTEGER},
      </if>
      <if test="record.userrealname != null" >
        UserRealName = #{record.userrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.operation != null" >
        Operation = #{record.operation,jdbcType=VARCHAR},
      </if>
      <if test="record.changelasttime != null" >
        ChangeLastTime = #{record.changelasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operate_log
    set OperateLog = #{record.operatelog,jdbcType=INTEGER},
      UserRealName = #{record.userrealname,jdbcType=VARCHAR},
      Operation = #{record.operation,jdbcType=VARCHAR},
      ChangeLastTime = #{record.changelasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.point.entity.OperateLog" >
    update operate_log
    <set >
      <if test="userrealname != null" >
        UserRealName = #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        Operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="changelasttime != null" >
        ChangeLastTime = #{changelasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OperateLog = #{operatelog,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.point.entity.OperateLog" >
    update operate_log
    set UserRealName = #{userrealname,jdbcType=VARCHAR},
      Operation = #{operation,jdbcType=VARCHAR},
      ChangeLastTime = #{changelasttime,jdbcType=TIMESTAMP}
    where OperateLog = #{operatelog,jdbcType=INTEGER}
  </update>
</mapper>