<div class="subtable">
    <table class="tb">
        <tr>
            <td colspan="6" style="background-color: #aaa;padding: 10px 0 10px 0">擦窗机各部件迎风面积（大臂同向）</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="padding: 10px 0;">工作状态</td>
            <td colspan="2">非工作状态</td>
            <td></td>
        </tr>
        <tr>
            <td style="width:28%;padding:10px 0;;">名称</td>
            <td style="width:10%;">符号</td>
            <td style="width:21%;">数值</td>
            <td style="width:10%;">符号</td>
            <td style="width:21%;">数值</td>
            <td style="width:10%;">单位</td>
        </tr>
        <tr>
            <td>吊船及人员迎风面积</td>
            <td><p><i>A<sub>sltx</sub></i></p></td>
            <td><input name="asltx" type="text"/></td>
            <td></td>
            <td></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>物料迎风面积</td>
            <td><p><i>A<sub>shltx</sub></i></p></td>
            <td><input name="ashltx" type="text"/></td>
            <td></td>
            <td></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>大臂迎风面积</td>
            <td><p><i>A<sub>tx1</sub></i></p></td>
            <td><input name="atx1" type="text"/></td>
            <td><p><i>A<sub>ftx1</sub></i></p></td>
            <td><input name="aftx1" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>物料起升机构装置迎风面积</td>
            <td><p><i>A<sub>tx2</sub></i></p></td>
            <td><input name="atx2" type="text"/></td>
            <td><p><i>A<sub>ftx2</sub></i></p></td>
            <td><input name="aftx2" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>仰臂机构迎风面积</td>
            <td><p><i>A<sub>tx3</sub></i></p></td>
            <td><input name="atx3" type="text"/></td>
            <td><p><i>A<sub>ftx3</sub></i></p></td>
            <td><input name="aftx3" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>仰臂架迎风面积</td>
            <td><p><i>A<sub>tx4</sub></i></p></td>
            <td><input name="atx4" type="text"/></td>
            <td><p><i>A<sub>ftx4</sub></i></p></td>
            <td><input name="aftx4" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>配重迎风面积</td>
            <td><p><i>A<sub>tx5</sub></i></p></td>
            <td><input name="atx5" type="text"/></td>
            <td><p><i>A<sub>ftx5</sub></i></p></td>
            <td><input name="aftx5" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>起升机构迎风面积</td>
            <td><p><i>A<sub>tx6</sub></i></p></td>
            <td><input name="atx6" type="text"/></td>
            <td><p><i>A<sub>ftx6</sub></i></p></td>
            <td><input name="aftx6" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>底架迎风面积</td>
            <td><p><i>A<sub>tx7</sub></i></p></td>
            <td><input name="atx7" type="text"/></td>
            <td><p><i>A<sub>ftx7</sub></i></p></td>
            <td><input name="aftx7" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>主动运行迎风面积</td>
            <td><p><i>A<sub>tx8</sub></i></p></td>
            <td><input name="atx8" type="text"/></td>
            <td><p><i>A<sub>ftx8</sub></i></p></td>
            <td><input name="aftx8" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
        <tr>
            <td>被动运行迎风面积</td>
            <td><p><i>A<sub>tx9</sub></i></p></td>
            <td><input name="atx9" type="text"/></td>
            <td><p><i>A<sub>ftx9</sub></i></p></td>
            <td><input name="aftx9" type="text"/></td>
            <td>m<sup>2</sup></td>
        </tr>
    </table>
</div>