<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script type="text/javascript">
        function InitNav(type) {
            $('#hrefsub_1').css("display", "none");
            $('#hrefsub_2').css("display", "none");
            $('#hrefsub_3').css("display", "none");
            $('#hrefsub_4').css("display", "none");

            $('#href_1').removeClass('nav-hover');
            $('#href_2').removeClass('nav-hover');
            $('#href_3').removeClass('nav-hover');
            $('#href_4').removeClass('nav-hover');
            if (type == 1) {
                $('#hrefsub_1').css("display", "block");
                $('#href_1').addClass('nav-hover');
            }
            if (type == 2) {
                $('#hrefsub_2').css("display", "block");
                $('#href_2').addClass('nav-hover');
            }
            if (type == 3) {
                $('#hrefsub_3').css("display", "block");
                $('#href_3').addClass('nav-hover');
            }
            if (type == 4) {
                $('#hrefsub_4').css("display", "block");
                $('#href_4').addClass('nav-hover');
            }
        }
    </script>
    <style>
        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }

    </style>
</head>
<body>
<div class="o-main-header-container fixed-top"  >
    <div class="o-main-header-nav " >
        <div class="o-header-container">
            <div class="o-nav-list">
                <div class="o-nav-item  o-hassubnav ">
                    <a id="href_1" class="o-nav-fa" href="javascript:void(0)" onclick="InitNav(1)">常规机型
                        <span class="o-subnav-nbsp"></span>
                    </a>
                    <!-- 二级导航  -->
                    <div id="hrefsub_1" class="o-subnav">
                        <div style="width:1500px;margin: auto" class="o-subnav-container">
                            <div class="o-subnav-list">
                                <!--<div class="o-subnav-item"><a href="CleaningCycleCalculation"-->
                                                              <!--id="CleaningCycleCalculation">清洗周期</a></div>-->
                                <!--                                <div class="o-subnav-item"><a href="pdfTest" id="pdfTest">钢丝绳</a></div>-->
                                <!--<div class="o-subnav-item"><a href="WheelLoad" id="WheelLoad">轮压</a></div>-->
                                <!--                                <div class="o-subnav-item"><a href="Embedment" id="Embedment">预埋件</a></div>-->
                                <div class="o-subnav-item"><a href="Resistant" id="Resistant">抗压埋件</a></div>
                                <div class="o-subnav-item"><a href="Tensile" id="Tensile">抗拉埋件</a></div>
                                <div class="o-subnav-item"><a href="WireRope" id="WireRope">钢丝绳</a></div>
                                <div class="o-subnav-item"><a href="Motor" id="Motor">大回转减速电机</a></div>
                                <div class="o-subnav-item"><a href="HorizontalTracks"
                                                              id="HorizontalTracks">水平轨道(I/H)</a></div>
                                <div class="o-subnav-item"><a href="HorizontalTracksAddPlate"
                                                              id="HorizontalTracksAddPlate">水平轨道(I/H)-加筋</a></div>
                                <div class="o-subnav-item"><a href="PinSeat" id="PinSeat">T型防风销座</a></div>
                                <div class="o-subnav-item"><a href="Stability" id="Stability">稳定性校核及轮压</a></div>
                                <div class="o-subnav-item"><a href="ChemicalAnchor" id="ChemicalAnchor">化学锚栓</a></div>
                                <div class="o-subnav-item"><a href="UprightMechanism" id="UprightMechanism">仰柱机构</a></div>
                                <div class="o-subnav-item"><a href="javascript:void(0);" id="RechargeAuditList">xxx</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-nav-item  o-hassubnav ">
                    <a id="href_4" class="o-nav-fa" href="javascript:void(0)" onclick="InitNav(4)">附墙双臂机
                        <span class="o-subnav-nbsp"></span>
                    </a>
                    <!-- 二级导航  -->
                    <div id="hrefsub_4" class="o-subnav">
                        <div style="width:1500px;margin: auto" class="o-subnav-container">
                            <div class="o-subnav-list">
                                <div class="o-subnav-item"><a href="FsStability" id="FsStability">稳定性校核及轮压</a></div>
                                <div class="o-subnav-item"><a href="Stability_LSFArm" id="Stability_LSFArm">下回转固定臂-稳定性校核及轮压计算书</a></div>
                                <div class="o-subnav-item"><a href="Stability_LTTArm" id="Stability_LTTArm">下回转伸缩臂-稳定性校核及轮压计算书</a></div>
                                <!--<div class="o-subnav-item"><a href="yanshi" id="yanshi">演示</a></div>-->
                                <div class="o-subnav-item"><a href="qxzq" id="qxzq">清洗周期</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-nav-item  o-hassubnav ">
                    <a id="href_2" class="o-nav-fa" href="javascript:void(0)" onclick="InitNav(2)">部件参数录入
                        <span class="o-subnav-nbsp"></span>
                    </a>
                    <!-- 二级导航  -->
                    <div id="hrefsub_2" class="o-subnav" style="display:none">
                        <div class="o-subnav-container" style="margin-left: 50px">
                            <div class="o-subnav-list">
                                <div class="o-subnav-item"><a href="MaterialcostList" id="MaterialcostList">各项单价</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=1" id="ComponentList1">大臂</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=2" id="ComponentList2">立柱</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=3" id="ComponentList3">底架</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=4" id="ComponentList4">吊船</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=5" id="ComponentList5">臂头</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=6" id="ComponentList6">回转机构</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=7" id="ComponentList7">起升机构</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=8" id="ComponentList8">运行机构</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=9" id="ComponentList9">玻璃起吊</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=10" id="ComponentList10">液压系统</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=11" id="ComponentList11">电气系统</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=12" id="ComponentList12">预埋件</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=13" id="ComponentList13">八边管</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=14" id="ComponentList14">钢丝绳</a>
                                </div>
                                <div class="o-subnav-item"><a href="ComponentList?type=15" id="ComponentList15">轨道</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-nav-item  o-hassubnav ">
                    <a id="href_3" class="o-nav-fa" href="javascript:void(0)" onclick="InitNav(3)">项目管理
                        <span class="o-subnav-nbsp"></span>
                    </a>
                    <!-- 二级导航  -->
                    <div id="hrefsub_3" class="o-subnav" style="display:none">
                        <div class="o-subnav-container">
                            <div class="o-subnav-list">
                                <div class="o-subnav-item"><a href="ProjectColumnDefinitionList" id="ProjectColumnDefinitionList">列定义</a>
                                </div>
                                <div class="o-subnav-item"><a href="ProjectData" id="ProjectData">数据维护</a>
                                </div>
                                <div class="o-subnav-item"><a href="ProjectDataNew" id="ProjectDataNew">新.数据查看</a>
                                </div>
                                <div class="o-subnav-item"><a href="ImportExportProjectData" id="ImportExportProjectData">新.数据导入导出</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 60px"></div>
</body>
</html>