<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>防风销座强度校核计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{js/jquery-1.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui-1.8.16.custom.min.js}"></script>
    <script th:src="@{js/xyz/jquery.Ajax.Form.js}"></script>

    <link th:href="@{css/page.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre.min.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre2.min.css}" rel="stylesheet"/>
    <link th:href="@{css/base.min.css}" rel="stylesheet"/>
    <link th:href="@{css/public_offline.css}" rel="stylesheet"/>
    <style type="text/css">
        p{
            font-size: 17px;
        }
        b{
            letter-spacing:1px;
            line-height: normal;
        }
        .main {
            margin:20px 400px 100px;
            width:1100px;
            background-color:white;
            font-size: 0;
            border:1px solid black;
        }
        .boxform{
            margin:auto;
            width:1040px;
            display: block;
            font-size: 0;
            padding: 10px 0 0 10px;
        }
        .main .boxform div{
            display: inline-block;
            font-size: 14px;
            margin: 0 10px 10px 0;
            vertical-align: top;
        }
        td{
            border:1px solid #000;
            text-align: center;
            line-height: 14px;
            height:20px;
        }
        tr{
            height: 20px;
        }
        img{
            max-width: 100%;
            max-height: 100%;
        }
        sub,sup{
            font-size: 14px;
            margin: 1px;
        }
        .tb{
            border-radius: 5px;
            width:100%;
            background-color: #aaa;
        }
        input {
            height: 20px;
            width:92%;
            border: 0;
            text-align: center;
        }
        .buttonbox{
            bottom: 5px;
            right:5px;
            display: block;
            position: fixed;
            margin-bottom: 5px;
            font-size: 14px;
        }
        .buttonbox input,.navbox input{
            background-color: #ccc;
            display: block;
            width:150px;
            height: 50px;
            margin: 5px;
            border-radius:25px;
        }
        .navbox{
            top: 50%;;
            left:10px;
            display: block;
            position: fixed;
            margin-top: -160px;
            font-size: 16px;
        }
        .navbox td {
            padding: 0.4em 0.8em;
        }
    </style>
    <script>
        $(document).ready(function () {
            InitNav(1)
            $('#PinSeat').addClass('o-sub-cur');
            $("#fd").val(385).attr("readonly",true);
            $("#fvd").val(220).attr("readonly",true);
            $("#f02d").val(450).attr("readonly",true);
            $("#select1").change(function () {
                if(this.value=="S31608") {
                    $("#clz").val("S31608");
                    $("#fx").val("175");
                    $("#fv").val("100");
                    $("#f02").val("205");
                }else if(this.value=="S22053"){
                    $("#clz").val("S22053");
                    $("#fx").val("385");
                    $("#fv").val("220");
                    $("#f02").val("450");
                }
            });
            $("#select2").change(function () {
                if(this.value=="S31608") {
                    $("#clh").val("S31608");
                    $("#fwf").val("175");
                }else if(this.value=="S22053"){
                    $("#clh").val("S22053");
                    $("#fwf").val("260");
                }
            });
            $("#select3").change(function () {
                if(this.value=="50") {
                    $("#xndj").val("50");
                    $("#fbt").val("190");
                    $("#fbv").val("155");
                    $("#fbc").val("410");
                }else if(this.value=="70"){
                    $("#xndj").val("70");
                    $("#fbt").val("295");
                    $("#fbv").val("245");
                    $("#fbc").val("410");
                }else if(this.value=="80"){
                    $("#xndj").val("80");
                    $("#fbt").val("335");
                    $("#fbv").val("280");
                    $("#fbc").val("410");
                }
            });
        })
        function showImage(form,element) {
            // 先获取用户上传的文件对象
            var fileObj = form.files[0];
            if(fileObj.size>1048576){
                alert("上传文件大于1M，请重新选择");
                form.value="";
                return false;
            }
            // 生成一个文件读取的内置对象
            var fileReader = new FileReader();
            // 将文件对象传递给内置对象
            fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
            // 将读取出文件对象替换到img标签
            fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
                $('#'+element).attr('src',fileReader.result).attr('display','inline-block')
            }
        };

        function janyan() {
            $.ajax({
                url: "pinseat/jy",
                type: "post",
                data: $("form").serialize(),
                async: false,
                dataType: "json",
                cache: false,
                success: function (data) {
                    Object.keys(data).forEach(function (id) {
                        $("#" + id).text(data[id]);
                    })
                }
            })
            return false;
        }
        function valueCopy(event){
            var e=event||window.event;
            var element=e.target || e.srcElement;
            e=$(element);
            var id=e.attr("id");
            $("#"+id.slice(0,1)+"w"+ id.slice(1,3)).val(e.val());
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="head" th:include="head"></nav>
<br/><br/>
<div class="main">
    <iframe style="display: none" name="stop" src="about:blank"></iframe>

    <form class="boxform" name="form1" id="form1" th:id="form1" opType="#" target="stop"
          th:opType="@{/PinSeatEntity}" th:object="${PinSeatEntity}"
          method="post" enctype="multipart/form-data">
        <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">防风销座强度校核计算书</div>

        <table>
            <tr>
                <!- 封面内容 ->
                <td>
                    <div style="width:500px;">
                        <table class="tb">
                            <tr>
                                <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>封面内容</b></td>
                            </tr>
                            <tr>
                                <td style="width:50%;padding:10px 0;;padding:10px 0;;"><b>名称</b></td>
                                <td style="width:50%;">内容</td>
                            </tr>
                            <tr>
                                <td ><b>本机计算书编号</b></td>
                                <td ><input name="no" type="text" th:field="*{no}"/></td>
                            </tr>
                            <tr>
                               <td ><b>本机版本</b></td>
                               <td><input name="ver" type="text" th:field="*{ver}"/></td>
                            </tr>
                            <tr>
                               <td ><b>项目名称</b></td>
                               <td><input name="xmmc" type="text" th:field="*{xmmc}"/></td>
                            </tr>
                            <tr>
                               <td ><b>主机型号</b></td>
                               <td><input name="zjxh" type="text" th:field="*{zjxh}"/></td>
                            </tr>
                            <tr>
                               <td ><b>计算人</b></td>
                               <td><input name="jsr" type="text" th:field="*{jsr}"/></td>
                            </tr>
                            <tr>
                               <td ><b>审核人</b></td>
                               <td><input name="shr" type="text" th:field="*{shr}"/></td>
                            </tr>
                            <tr>
                               <td ><b>批准人</b></td>
                               <td><input name="pzr" type="text" th:field="*{pzr}"/></td>
                            </tr>
                            <tr>
                               <td ><b>计算日期</b></td>
                               <td><input name="date" type="text" th:field="*{date}" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div style="width:500px;">
                        <table class="tb">
                            <tr>
                                <td colspan="4" style="background-color: #aaa;padding: 10px 0 10px 0"><b>防风销座及销钉的基本尺寸及相关参数</b></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                                        <img id="tu1" name="tu1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:10px 0">选择图片</td>
                                <td colspan="3"><input class="image" type="file" name="tu1"  accept="image/*" oninput="showImage(this,'tu1')"/></td>
                            </tr>
                            <tr>
                                <td>选择材料</td>
                                <td colspan="3">
                                    <select id="select1" style="width:100%;height:40px;text-align-last:center">
                                        <option style="display: none"></option>
                                        <option value="S31608">S31608</option>
                                        <option value="S22053">S22053</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:42%;padding:10px 0;;"><b>名称</b></td>
                                <td style="width:10%;">符号</td>
                                <td style="width:30%;">数值</td>
                                <td style="width:10%;">单位</td>
                            </tr>
                            <tr>
                                <td><b>防风销座材料</b></td>
                                <td></td>
                                <td><input name="clz" type="text" th:field="*{clz}"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>防风销座抗拉和抗弯强度设计值</b></td>
                                <td><p><i>f<sub>x</sub></i></p></td>
                                <td><input name="fx" type="text" th:field="*{fx}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>防风销座抗剪强度设计值</b></td>
                                <td><p><i>f<sub>v</sub></i></p></td>
                                <td><input name="fv" type="text" th:field="*{fv}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>防风销座名义屈服强度</b></td>
                                <td><p><i>f<sub>0.2</sub></i></p></td>
                                <td><input name="f02" type="text" th:field="*{f02}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>防风销钉抗拉和抗弯强度设计值</b></td>
                                <td><p><i>f<sub>d</sub></i></p></td>
                                <td><input name="fd" type="text" th:field="*{fd}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>防风销钉抗剪强度设计值</b></td>
                                <td><p><i>f<sub>vd</sub></i></p></td>
                                <td><input name="fvd" type="text" th:field="*{fvd}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>防风销钉名义屈服强度</b></td>
                                <td><p><i>f<sub>0.2d</sub></i></p></td>
                                <td><input name="f02d" type="text" th:field="*{f02d}" value="100"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>截面A面积</b></td>
                                <td><p><i>A<sub>a</sub></i></p></td>
                                <td><input name="aa" type="text" th:field="*{aa}"/></td>
                                <td>mm2</td>
                            </tr>
                            <tr>
                                <td><b>截面B面积</b></td>
                                <td><p><i>A<sub>b</sub></i></p></td>
                                <td><input name="ab" type="text" th:field="*{ab}"/></td>
                                <td>mm2</td>
                            </tr>
                            <tr>
                                <td><b>截面C面积</b></td>
                                <td><p><i>A<sub>c</sub></i></p></td>
                                <td><input name="ac" type="text" th:field="*{ac}"/></td>
                                <td>mm2</td>
                            </tr>
                            <tr>
                                <td><b>受力点到截面A的距离</b></td>
                                <td><p><i>L<sub>1</sub></i></p></td>
                                <td><input name="l1" type="text" th:field="*{l1}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>受力点到截面B的距离</b></td>
                                <td><p><i>L<sub>2</sub></i></p></td>
                                <td><input name="l2" type="text" th:field="*{l2}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>受力点到截面C的距离</b></td>
                                <td><p><i>L<sub>3</sub></i></p></td>
                                <td><input name="l3" type="text" th:field="*{l3}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>截面A抗弯模量</b></td>
                                <td><p><i>W<sub>a</sub></i></p></td>
                                <td><input name="wa" type="text" th:field="*{wa}"/></td>
                                <td>mm3</td>
                            </tr>
                            <tr>
                                <td><b>截面B抗弯模量</b></td>
                                <td><p><i>W<sub>b</sub></i></p></td>
                                <td><input name="wb" type="text" th:field="*{wb}"/></td>
                                <td>mm3</td>
                            </tr>
                            <tr>
                                <td><b>截面C抗弯模量</b></td>
                                <td><p><i>W<sub>c</sub></i></p></td>
                                <td><input name="wc" type="text" th:field="*{wc}"/></td>
                                <td>mm3</td>
                            </tr>
                            <tr>
                                <td><b>销钉截面面积</b></td>
                                <td><p><i>A<sub>d</sub></i></p></td>
                                <td><input name="ad" type="text" th:field="*{ad}"/></td>
                                <td>mm2</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <div style="width:500px;">
                        <table class="tb">
                            <tr>
                                <td colspan="4" style="background-color: #aaa;padding: 10px 0 10px 0"><b>焊缝的基本尺寸及相关参数</b></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                                        <img id="tu2" name="image">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:10px 0">选择图片</td>
                                <td colspan="3"><input class="image" type="file" name="tu2"  accept="image/*" oninput="showImage(this,'tu2')"/></td>
                            </tr>
                            <tr>
                                <td>选择材料</td>
                                <td colspan="3">
                                    <select id="select2" style="width:100%;height:40px;text-align-last:center">
                                        <option style="display: none"></option>
                                        <option value="S31608">S31608</option>
                                        <option value="S22053">S22053</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;padding:10px 0;;"><b>名称</b></td>
                                <td style="width:15%;">符号</td>
                                <td style="width:30%;">数值</td>
                                <td style="width:15%;">单位</td>
                            </tr>
                            <tr>
                                <td><b>焊缝高度</b></td>
                                <td><p><i>K</i></p></td>
                                <td><input name="k" type="text" th:field="*{k}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>受力点到截面D的距离</b></td>
                                <td><p><i>L<sub>4</sub></i></p></td>
                                <td><input name="l4" type="text" th:field="*{l4}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>销座外侧到中心线的距离</b></td>
                                <td><p><i>R</i></p></td>
                                <td><input name="r" type="text" th:field="*{r}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>焊条材料</b></td>
                                <td></td>
                                <td><input name="clh" type="text" th:field="*{clh}"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>抗拉、抗压和抗剪强度</b></td>
                                <td><p><i>f<sup>w</sup><sub>f</sub></i></p></td>
                                <td><input name="fwf" type="text" th:field="*{fwf}"/></td>
                                <td>MPa</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div style="width:500px;">
                        <table class="tb">
                            <tr>
                                <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>连接螺栓3种工况下参数</b></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                                        <img id="tu3" name="tu3">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:10px 0">选择图片</td>
                                <td colspan="3"><input class="image" type="file" name="tu3"  accept="image/*" oninput="showImage(this,'tu3')"/></td>
                            </tr>
                            <tr>
                                <td>选择材料</td>
                                <td colspan="3">
                                    <select id="select3" style="width:100%;height:40px;text-align-last:center">
                                        <option style="display: none"></option>
                                        <option value="50">50</option>
                                        <option value="70">70</option>
                                        <option value="80">80</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:42%;padding:10px 0"><b>名称</b></td>
                                <td style="width:10%;">符号</td>
                                <td style="width:30%;">数值</td>
                                <td style="width:10%;">单位</td>
                            </tr>

                            <tr>
                                <td><b>外侧螺栓中心到销座中心的距离</b></td>
                                <td><p><i>r<sub>1</sub></i></p></td>
                                <td><input name="r1" type="text" th:field="*{r1}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>内侧螺栓中心到销座中心的距离</b></td>
                                <td><p><i>r<sub>2</sub></i></p></td>
                                <td><input name="r2" type="text" th:field="*{r2}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>销座宽度</b></td>
                                <td><p><i>l<sub>x</sub></i></p></td>
                                <td><input name="lx" type="text" th:field="*{lx}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>螺栓公称应力截面积</b></td>
                                <td><p><i>A<sub>s</sub></i></p></td>
                                <td><input name="as" type="text" th:field="*{as}"/></td>
                                <td>mm2</td>
                            </tr>
                            <tr>
                                <td><b>受力点到销座下表面的距离</b></td>
                                <td><p><i>L<sub>5</sub></i></p></td>
                                <td><input name="l5" type="text" th:field="*{l5}"/></td>
                                <td>mm</td>
                            </tr>
                            <tr>
                                <td><b>螺栓性能等级</b></td>
                                <td></td>
                                <td><input name="xndj" type="text" th:field="*{xndj}"/></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>螺栓抗拉强度设计值</b></td>
                                <td><p><i>f<sup>b</sup><sub>t</sub></i></p></td>
                                <td><input name="fbt" type="text" th:field="*{fbt}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>螺栓抗剪强度设计值</b></td>
                                <td><p><i>f<sup>b</sup><sub>v</sub></i></p></td>
                                <td><input name="fbv" type="text" th:field="*{fbv}"/></td>
                                <td>MPa</td>
                            </tr>
                            <tr>
                                <td><b>螺栓承压强度</b></td>
                                <td><p><i>f<sup>b</sup><sub>c</sub></i></p></td>
                                <td><input name="fbc" type="text" th:field="*{fbc}"/></td>
                                <td>MPa</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div class="buttonbox">
        <input type="submit" form="form1" class="button"  value="输出防风销座计算书pdf" onclick="$('form').attr('action','pinseatpdf1')"/>
        <input type="submit" form="form1" class="button"  value="输出验证部分pdf" onclick="$('form').attr('action','pinseatpdf2')"/>
        <input type="reset" form="form1" value="重置"/>
    </div>
    <div class="navbox">
        <div style="width:350px;height:520px; font-size: 14px;">
            <table class="tb" id="pdf3tb">
                <tr>
                    <td colspan="5" style="padding: 10px 0 10px 0;background-color: #aaa;"><b>核算结果</b></td>
                </tr>
                <tr>
                    <td style="width:55%;"><b>名称</b></td>
                    <td style="width:45%;"><b>结果显示</b></td>
                </tr>
                <tr>
                    <td><b>防风销座截面A强度</b></td>
                    <td id="man4"></td>
                </tr>
                <tr>
                    <td><b>防风销座截面B强度</b></td>
                    <td id="man8"></td>
                </tr>
                <tr>
                    <td><b>防风销座截面C强度</b></td>
                    <td id="man12"></td>
                </tr>
                <tr>
                    <td><b>焊缝强度</b></td>
                    <td id="man13"></td>
                </tr>
                <tr>
                    <td><b>防风销钉强度</b></td>
                    <td id="man17"></td>
                </tr>
                <tr>
                    <td><b>工况1下连接螺栓强度</b></td>
                    <td id="man21"></td>
                </tr>
                <tr>
                    <td><b>工况2下连接螺栓强度</b></td>
                    <td id="man25"></td>
                </tr>
                <tr>
                    <td><b>工况3下连接螺栓强度</b></td>
                    <td id="man27"></td>
                </tr>
            </table>
            <div style="margin: 0 100px 0;">
                <input type="submit"  class="button" type="submit" value="校验" onclick="return janyan()"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>