<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>单臂机吊臂校核计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{js/jquery-1.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui-1.8.16.custom.min.js}"></script>
<!--    <script th:src="@{js/vue.js}"></script>-->
    <script th:src="@{js/xyz/jquery.Ajax.Form.js}"></script>
    <link th:href="@{css/page.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre.min.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre2.min.css}" rel="stylesheet"/>
    <link th:href="@{css/base.min.css}" rel="stylesheet"/>
    <link th:href="@{css/public_offline.css}" rel="stylesheet"/>
    <script th:src="@{js/dataClass.js}" ></script>
    <style type="text/css">
        p{
            font-size: 17px;
        }
        b{
            letter-spacing:1px;
            line-height: normal;
        }
        .main {
            margin:20px 480px 100px;
            width:1250px;
            background-color:white;
            font-size: 0;
            border:1px solid black;
        }
        .boxform{
            margin:auto;
            width:1230px;
            display: block;
            font-size: 0;
            padding: 10px 0 0 10px;
        }
        .main .boxform div{
            display: inline-block;
            font-size: 14px;
            margin: 0 10px 10px 0;
            vertical-align: top;
        }
        td{
            border:1px solid #000;
            text-align: center;
            line-height: 14px;
            height:20px;
        }
        tr{
            height: 20px;
        }
        table{
            border-radius: 5px;
            width:100%;
            background-color: #aaa;
        }
        input {
            height: 20px;
            width:95%;
            border: 0;
            text-align: center;
        }
        .buttonbox{
            bottom: 5px;
            right:5px;
            display: block;
            position: fixed;
            margin-bottom: 5px;
        }
        .buttonbox input,.navbox input{
            background-color: #ccc;
            display: block;
            width:140px;
            height: 50px;
            margin: 5px;
            border-radius:25px;
        }
        .navbox{
            top: 50%;;
            left:10px;
            display: block;
            position: fixed;
            margin-top: -160px;
            font-size: 16px;
        }
        .navbox td{
            padding: 0.4em 0.8em;
        }
        /*.bxs{*/
            /*display: none;*/
        /*}*/

    </style>
    <script>
        dbjbModelList={
            "DB(200*300)":{
                dbjbxh:'DB(200*300)',
                dbjh:300,
                dbjb:200,
                dbje:10,
                dbwx:754460,
                dbwy:706571,
                dbix:150482521,
                dbll:550,
                dbmjb:130200,
                mbmj:93.85,
                ldbb:0,
                ldbbz:0,
                mdbb:0,
                adbb:0,
            },
            "DB(250*400)":{
                dbjbxh:'DB(250*400)',
                dbjh:400,
                dbjb:250,
                dbje:10,
                dbwx:1385230,
                dbwy:979596,
                dbix:325042451,
                dbll:650,
                dbmjb:228900,
                mbmj:115.65,
                ldbb:0,
                ldbbz:0,
                mdbb:0,
                adbb:0,
            },
            "DB(300*500)":{
                dbjbxh:'DB(300*500)',
                dbjh:500,
                dbjb:300,
                dbje:10,
                dbwx:2312830,
                dbwy:1502801,
                dbix:659697716,
                dbll:800,
                dbmjb:395300,
                mbmj:156.64,
                ldbb:3457,
                ldbbz:6500,
                mdbb:698,
                adbb:2.49,
            },
            "DB(400*600)": {
                dbjbxh:'DB(400*600)',
                dbjh:600,
                dbjb:400,
                dbje:10,
                dbwx:4031623,
                dbwy:2939668,
                dbix:1288231209,
                dbll:1000,
                dbmjb:619000,
                mbmj:206.96,
                ldbb:3575,
                ldbbz:6500,
                mdbb:811,
                adbb:2.84,
            }
        };
        dcModelList={
            "2.0米铝吊船(PT(250_2))":{
                swp:96,
                r1:250,
                aslcx:1.46,
            },
            "2.5米铝吊船(PT(250_2.5))":{
                swp:105,
                r1:250,
                aslcx:1.46,
            },
            "3.0米铝吊船(PT(250_3))":{
                swp:115,
                r1:250,
                aslcx:1.46,
           },
            "4.0米铝吊船(PT(250_4.0))":{
                swp:135,
                r1:250,
                aslcx:1.46,
            },
            "1.5米卫星吊船(PT(800_2.0)W(100-1.5))":{
                swp:577,
                r1:250,
                aslcx:3.26,
            },
            "2.0米卫星吊船(PT(800_2.0)W(100-2.0))":{
                swp:650,
                r1:250,
                aslcx:3.26,
            },
            "1.5米手动丝杠伸展吊船(SDPT250G(1.5))":{
                swp:585,
                r1:250,
                aslcx:1.59,
            },
            "2.0米手动丝杠伸展吊船(SDPT250G(2.0))":{
                swp:619,
                r1:250,
                aslcx:2.17,
            },
            "2.5米手动丝杠伸展吊船(SDPT250G(2.5))":{
                swp:634,
                r1:250,
                aslcx:2.75,
            },
            "3.0米手动丝杠伸展吊船(SDPT250G(3.0))":{
                swp:683,
                r1:250,
                aslcx:3.33,
            },
            "2.0米液压伸展吊船(YYPT200G(2.0))":{
                swp:624,
                r1:250,
                aslcx:2.84,
            },
            "2.0米液压伸展吊船(2.0-2.3)(YYPT200G(2.0-2.3))":{
                swp:651,
                r1:250,
                aslcx:2.84,
            },
            "2.5米液压伸展吊船(YYPT200G(2.5))":{
                swp:675,
                r1:250,
                aslcx:3.09,
            },
            "3.0米液压伸展吊船(YYPT200G(3.0))":{
                swp:696,
                r1:250,
                aslcx:3.25,
            },
            "3.5米液压伸展吊船(YYPT200G(3.5))":{
                swp:720,
                r1:250,
                aslcx:3.5,
            },
            "2.0米折叠吊船(SSPT(250_2.0))":{
                swp:116,
                r1:250,
                aslcx:1.62,
            },
            "2.5米折叠吊船(SSPT(250_2.5))":{
                swp:124,
                r1:250,
                aslcx:1.62,
            },
            "2.0米折弯吊船(ZWDC(250_2))":{
                swp:120,
                r1:250,
                aslcx:1.46,
            },
            "2.5米折弯吊船(ZWDC(250_2.5))":{
                swp:133,
                r1:250,
                aslcx:1.46,
            },
            "3.0米折弯吊船(ZWDC(250_3))":{
                swp:155,
                r1:250,
                aslcx:1.46,
            },
            "2.5米伸缩子吊船":{
                swp:1140,
                r1:250,
                aslcx:3.46,
            },
            "2.0米CDD吊船(CDD240(2A).0)":{
                swp:350,
                r1:250,
                aslcx:1.8,
            },
            "2.5米CDD吊船(CDD240(2.5))":{
                swp:375,
                r1:250,
                aslcx:1.8,
            },
            "3.0米CDD吊船(CDD240(3))":{
                swp:400,
                r1:250,
                aslcx:1.8,
            },
            "4.0米CDD吊船(CDD240(4))":{
                swp:450,
                r1:250,
                aslcx:1.8,
            },
            "其它":{
                swp:" ",
                r1:" ",
                aslcx:" ",
            }
        };
        dcgssModelList={
            "Φ7":{
                dcgssp:0.179,
             },
            "Φ8":{
                dcgssp:0.244,
            },
            "Φ8.3":{
                dcgssp:0.255,
            },
            "Φ10":{
                dcgssp:0.391,
            },
            "Φ13":{
                dcgssp:0.65,
            },
            "布鲁格Φ7":{
                dcgssp:0.179,
            },
            "布鲁格Φ8":{
                dcgssp:0.217,
            },
          };

        ffbbModelList={
            "有":{
                mffbb:100,
            },
            "无":{
                mffbb:0,
            },
        };

        btModelList={
            "YJBT1800G(1.8米羊角臂头-高臂头)":{
                m1:330,
                acx1:0.95,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT1800Z(1.8米羊角臂头-中臂头)":{
                m1:305,
                acx1:0.77,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT1800D(1.8米羊角臂头-低臂头)":{
                m1:297,
                acx1:0.73,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2300G(2.3米羊角臂头-高臂头)":{
                m1:339,
                acx1:0.95,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2300Z(2.3米羊角臂头-中臂头)":{
                m1:312,
                acx1:0.77,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2300D(2.3米羊角臂头-低臂头)":{
                m1:302,
                acx1:0.73,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2800G(2.8米羊角臂头-高臂头)":{
                m1:344,
                acx1:0.95,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2800Z(2.8米羊角臂头-中臂头)":{
                m1:317,
                acx1:0.77,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2800D(2.8米羊角臂头-低臂头)":{
                m1:309,
                acx1:0.73,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "HDBT2300(2.3米蝴蝶臂头)":{
                m1:554,
                acx1:0.72,
                lbtzh:0.8,
                ldcgh:1.8,
                ldslzh:0.8,
            },
            "XDBT2300(2.3米下挂臂头)":{
                m1:208,
                acx1:0.41,
                lbtzh:0,
                ldcgh:0,
                ldslzh:0,
            },
            "XDBT2500Φ13(2.5米下挂臂头)":{
                m1:312,
                acx1:0.74,
                lbtzh:0,
                ldcgh:0,
                ldslzh:0,
            },
            "XDBT3000Φ13(3.0米下挂臂头)":{
                m1:346,
                acx1:0.86,
                lbtzh:0,
                ldcgh:0,
                ldslzh:0,
            },
            "DJBT1800(1.8米单角臂头)":{
                m1:280,
                acx1:0.9,
                lbtzh:0.8,
                ldcgh:2,
                ldslzh:1,
            },
            "DJBT2300(2.3米单角臂头)":{
                m1:308,
                acx1:1.08,
                lbtzh:0.9,
                ldcgh:2,
                ldslzh:1,
            },
            "DJBT2500Φ13(2.5米单角臂头)":{
                m1:403,
                acx1:1.13,
                lbtzh:1.6,
                ldcgh:2.2,
                ldslzh:1.2
            },
            "DJBT3300(3.3米单角臂头)":{
                m1:359,
                acx1:1.3,
                lbtzh:1.2,
                ldcgh:2.5,
                ldslzh:1.5,
            },
            "PBT800(0.8米一字臂头)":{
                m1:207,
                acx1:0.54,
                lbtzh:0.4,
                ldcgh:0.4,
                ldslzh:0,
            },
            "MHEBT1944(MHE1944臂头)":{
                m1:235,
                acx1:0.7,
                lbtzh:0.4,
                ldcgh:0.4,
                ldslzh:0,
            },
            "其它":{
                m1:" ",
                acx1:" ",
                lbtzh:" ",
                ldcgh:" ",
                ldslzh:" ",
            },
        };
        gruModelList={
            "GRU285":{
                m2:50,
                m5:235,
                hwll:" ",
                acx2:0.1,
                acx5:0.42,
                grugssp:0.252,
            },
            "GRU295":{
                m2:50,
                m5:285,
                hwll:" ",
                acx2:0.1,
                acx5:0.5,
                grugssp:0.391,
            },
            "GRU313":{
                m2:50,
                m5:385,
                hwll:" ",
                acx2:0.1,
                acx5:0.62,
                grugssp:0.65,
            },
            "无":{
                m2:0,
                m5:0,
                hwll:0,
                acx2:0,
                acx5:0,
                grugssp:0,
            },
        };
        gruazModelList={
            "GRU装置在吊臂前销轴前":{
                gruqhxs:1,
            },
            "GRU装置在吊臂前销轴后":{
                gruqhxs:0,
            },
        };
    </script>
    <script type="text/javascript">
        function isNumber(value) {         //验证是否为数字
            var patrn = /^(-)?\d+(\.\d+)?$/;
            if (patrn.exec(value) == null || value == "") {
                return false
            } else {
                return true
            }
        }
        $(document).ready(function () {
            InitNav(7)
            $('#SingleJib').addClass('o-sub-cur');
        })

        function janyan() {
            $.ajax({
                url: "SingleJib/jy",
                type: "post",
                data: $("form").serialize(),
                async: false,
                dataType: "json",
                cache: false,
                success: function (data) {
                    Object.keys(data).forEach(function (id) {
                        $("#" + id).text(data[id]);
                    })
                }
            })
            return false;
        }

        function showImage(form,element) {
            // 先获取用户上传的文件对象
            var fileObj = form.files[0];
            if(fileObj.size>1048576){
                alert("上传文件大于1M，请重新选择");
                form.value="";
                return false;
            }
            // 生成一个文件读取的内置对象
            var fileReader = new FileReader();
            // 将文件对象传递给内置对象
            fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
            // 将读取出文件对象替换到img标签
            fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
                $('#'+element).attr('src',fileReader.result).attr('display','inline-block')
            }
        }
    </script>


</head>
<body>
<nav class="navbar navbar-default" role="head" th:replace="head"></nav>
<br/><br/>
<div class="main">
    <iframe style="display: none" name="stop" src="about:blank"></iframe>
    <form class="boxform" name="form1" id="form1" th:id="form1" opType="#" target="stop" method="post" enctype="multipart/form-data">
        <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">单臂机吊臂校核计算书</div>
        <!- 封面内容 ->
        <div style="width:400px;">
            <table>
                <tr>
                    <td style="width:40%;padding:10px 0;;padding:10px 0;;">项目批令号/方案编号</td>
                    <td style="width:40%;">
                        <input type='text' name="sjht" type="text" list="txtBatchId"/>
                        <datalist id="txtBatchId">
                        </datalist>
                    </td>
                    <td style="width:20%;"><input type="button" name="getData" value="读取"/></td>
                    <script>
                        $('input[name="getData"]').click(function () {
                                var url = '/SingleJib/getData';
                                var id = $('input[name="sjht"]').val();
                                getData.geteDataFromDB(url, id)
                            }
                        )
                    </script>
                </tr>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>1.封面内容</b></td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:50%;">内容</td>
                </tr>
                <tr>
                    <td ><b>本机计算书编号</b></td>
                    <td ><input type="text" name="no"/></td>
                </tr>
                <tr>
                    <td ><b>本机版本</b></td>
                    <td ><input type="text" name="ver" /></td>
                </tr>
                <tr>
                    <td ><b>项目名称</b></td>
                    <td ><input type="text" name="xmmc" /></td>
                </tr>
                <tr>
                    <td ><b>主机型号</b></td>
                    <td ><input type="text" name="zjxh" /></td>
                </tr>
                <tr>
                    <td ><b>计算人</b></td>
                    <td ><input type="text" name="jsr" /></td>
                </tr>
                <tr>
                    <td ><b>审核人</b></td>
                    <td ><input type="text" name="shr" /></td>
                </tr>
                <tr>
                    <td ><b>批准人</b></td>
                    <td ><input type="text" name="pzr" /></td>
                </tr>
                <tr>
                    <td ><b>计算日期</b></td>
                    <td ><input type="text" name="date" /></td>
                </tr>
            </table>
        </div>
        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>2.基本参数</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu1.png" width="400px" id="dbjbtu1" name="dbjbtu1" >
                            <input type="hidden" value="tu_dbjbtu1.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂名称简介图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu1" accept="image/*"
                                           oninput="showImage(this,'dbjbtu1')"/></td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>

                <tr>
                    <td ><b>作业高度</b></td>
                    <td ><p><i>h</i></p></td>
                    <td ><input type="text" name="h" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>最大臂长</b></td>
                    <td ><p><i>L<sub>bd</sub></i></p></td>
                    <td ><input type="text" name="lbd"/></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>危险截面处螺栓孔数</b></td>
                    <td ><p><i> </i></p></td>
                    <td ><input type="text" name="nlsk"/></td>
                    <td > </td>
                </tr>
             </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>3.下拉参数选择</b></td>
                </tr>
                <tr>
                    <td>单臂机吊臂型号选择</td>
                    <td colspan="4">
                        <select name="dbjbModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="DB(200*300)">DB(200*300)</option>
                            <option value="DB(250*400)">DB(250*400)</option>
                            <option value="DB(300*500)">DB(300*500)</option>
                            <option value="DB(400*600)">DB(400*600)</option>
                        </select>
                        <script>
                            $("[name=dbjbModel]").change(function () {
                                var dbjbxh=$("[name=dbjbModel]")[0].value;
                                var filename="";
                                if( dbjbxh=="DB(200*300)" ){
                                    filename="DB(200*300).png";
                                }else if ( dbjbxh=="DB(250*400)" ){
                                    filename="DB(250*400).png";
                                }else if ( dbjbxh=="DB(300*500)" ){
                                    filename="DB(300*500).png";
                                }else if ( dbjbxh=="DB(400*600)" ){
                                    filename="DB(400*600).png";
                                }
                                if ($('input[name=tu_dbjbtu2]').length == 0) {
                                    $('form').append('<input name="tu_dbjbtu2" type="hidden"/>');
                                }
                                $("[name=tu_dbjbtu2]")[0].value=filename;
                                $("[name=dbjbtu2]")[0].src="/pdf/getImg?filename="+ filename+"";
                            })
                        </script>
                    </td>
                </tr>
                <tr>
                    <td>吊船型号选择</td>
                    <td colspan="4">
                        <select name="dcModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="2.0米铝吊船(PT(250_2))">2.0米铝吊船(PT(250_2))</option>
                            <option value="2.5米铝吊船(PT(250_2.5))">2.5米铝吊船(PT(250_2.5))</option>
                            <option value="3.0米铝吊船(PT(250_3))">3.0米铝吊船(PT(250_3))</option>
                            <option value="4.0米铝吊船(PT(250_4.0))">4.0米铝吊船(PT(250_4.0))</option>
                            <option value="1.5米卫星吊船(PT(800_2.0)W(100-1.5))">1.5米卫星吊船(PT(800_2.0)W(100-1.5))</option>
                            <option value="2.0米卫星吊船(PT(800_2.0)W(100-2.0))">2.0米卫星吊船(PT(800_2.0)W(100-2.0))</option>
                            <option value="1.5米手动丝杠伸展吊船(SDPT250G(1.5))">1.5米手动丝杠伸展吊船(SDPT250G(1.5))</option>
                            <option value="2.0米手动丝杠伸展吊船(SDPT250G(2.0))">2.0米手动丝杠伸展吊船(SDPT250G(2.0))</option>
                            <option value="2.5米手动丝杠伸展吊船(SDPT250G(2.5))">2.5米手动丝杠伸展吊船(SDPT250G(2.5))</option>
                            <option value="3.0米手动丝杠伸展吊船(SDPT250G(3.0))">3.0米手动丝杠伸展吊船(SDPT250G(3.0))</option>
                            <option value="2.0米液压伸展吊船(YYPT200G(2.0))">2.0米液压伸展吊船(YYPT200G(2.0))</option>
                            <option value="2.0米液压伸展吊船(2.0-2.3)(YYPT200G(2.0-2.3))">2.0米液压伸展吊船(2.0-2.3)(YYPT200G(2.0-2.3))</option>
                            <option value="2.5米液压伸展吊船(YYPT200G(2.5))">2.5米液压伸展吊船(YYPT200G(2.5))</option>
                            <option value="3.0米液压伸展吊船(YYPT200G(3.0))">3.0米液压伸展吊船(YYPT200G(3.0))</option>
                            <option value="3.5米液压伸展吊船(YYPT200G(3.5))">3.5米液压伸展吊船(YYPT200G(3.5))</option>
                            <option value="2.0米折叠吊船(SSPT(250_2.0))">2.0米折叠吊船(SSPT(250_2.0))</option>
                            <option value="2.5米折叠吊船(SSPT(250_2.5))">2.5米折叠吊船(SSPT(250_2.5))</option>
                            <option value="2.0米折弯吊船(ZWDC(250_2))">2.0米折弯吊船(ZWDC(250_2))</option>
                            <option value="2.5米折弯吊船(ZWDC(250_2.5))">2.5米折弯吊船(ZWDC(250_2.5))</option>
                            <option value="3.0米折弯吊船(ZWDC(250_3))">3.0米折弯吊船(ZWDC(250_3))</option>
                            <option value="2.5米伸缩子吊船">2.5米伸缩子吊船</option>
                            <option value="2.0米CDD吊船(CDD240(2A).0)">2.0米CDD吊船(CDD240(2A).0)</option>
                            <option value="2.5米CDD吊船(CDD240(2.5))">2.5米CDD吊船(CDD240(2.5))</option>
                            <option value="3.0米CDD吊船(CDD240(3))">3.0米CDD吊船(CDD240(3))</option>
                            <option value="4.0米CDD吊船(CDD240(4))">4.0米CDD吊船(CDD240(4))</option>
                            <option value="其它">其它</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>吊船钢丝绳型号选择</td>
                    <td colspan="4">
                        <select name="dcgssModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="Φ7">Φ7</option>
                            <option value="Φ8">Φ8</option>
                            <option value="Φ8.3">Φ8.3</option>
                            <option value="Φ10">Φ10</option>
                            <option value="Φ13">Φ13</option>
                            <option value="布鲁格Φ7">布鲁格Φ7</option>
                            <option value="布鲁格Φ8">布鲁格Φ8</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否有防风背包</td>
                    <td colspan="4">
                        <select name="ffbbModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>臂头型号选择</td>
                    <td colspan="4">
                        <select name="btModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="YJBT1800G(1.8米羊角臂头-高臂头)">YJBT1800G(1.8米羊角臂头-高臂头)</option>
                            <option value="YJBT1800Z(1.8米羊角臂头-中臂头)">YJBT1800Z(1.8米羊角臂头-中臂头)</option>
                            <option value="YJBT1800D(1.8米羊角臂头-低臂头)">YJBT1800D(1.8米羊角臂头-低臂头)</option>
                            <option value="YJBT2300G(2.3米羊角臂头-高臂头)">YJBT2300G(2.3米羊角臂头-高臂头)</option>
                            <option value="YJBT2300Z(2.3米羊角臂头-中臂头)">YJBT2300Z(2.3米羊角臂头-中臂头)</option>
                            <option value="YJBT2300D(2.3米羊角臂头-低臂头)">YJBT2300D(2.3米羊角臂头-低臂头)</option>
                            <option value="YJBT2800G(2.8米羊角臂头-高臂头)">YJBT2800G(2.8米羊角臂头-高臂头)</option>
                            <option value="YJBT2800Z(2.8米羊角臂头-中臂头)">YJBT2800Z(2.8米羊角臂头-中臂头)</option>
                            <option value="YJBT2800D(2.8米羊角臂头-低臂头)">YJBT2800D(2.8米羊角臂头-低臂头)</option>
                            <option value="HDBT2300(2.3米蝴蝶臂头)">HDBT2300(2.3米蝴蝶臂头)</option>
                            <option value="XDBT2300(2.3米下挂臂头)">XDBT2300(2.3米下挂臂头)</option>
                            <option value="XDBT2500Φ13(2.5米下挂臂头)">XDBT2500Φ13(2.5米下挂臂头)</option>
                            <option value="XDBT3000Φ13(3.0米下挂臂头)">XDBT3000Φ13(3.0米下挂臂头)</option>
                            <option value="DJBT1800(1.8米单角臂头)">DJBT1800(1.8米单角臂头)</option>
                            <option value="DJBT2300(2.3米单角臂头)">DJBT2300(2.3米单角臂头)</option>
                            <option value="DJBT2500Φ13(2.5米单角臂头)">DJBT2500Φ13(2.5米单角臂头)</option>
                            <option value="DJBT3300(3.3米单角臂头)">DJBT3300(3.3米单角臂头)</option>
                            <option value="PBT800(0.8米一字臂头)">PBT800(0.8米一字臂头)</option>
                            <option value="MHEBT1944(MHE1944臂头)">MHEBT1944(MHE1944臂头)</option>
                            <option value="其它">其它</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>GRU型号选择</td>
                    <td colspan="4">
                        <select name="gruModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="GRU285">GRU285</option>
                            <option value="GRU295">GRU295</option>
                            <option value="GRU313">GRU313</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>GRU装置在吊臂位置选择</td>
                    <td colspan="4">
                        <select name="gruazModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="GRU装置在吊臂前销轴前">GRU装置在吊臂前销轴前</option>
                            <option value="GRU装置在吊臂前销轴后">GRU装置在吊臂前销轴后</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>4.吊臂相关参数</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img alt="吊臂危险截面图" id="dbjbtu2" height="300px"  name="dbjbtu2">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu3.png" width="400px" id="dbjbtu3" name="dbjbtu3" >
                            <input type="hidden" value="tu_dbjbtu3.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>吊臂危险截面图</td>
                    <td colspan="4">
                        <input type="file" style="height:40px ;line-height: 40px;" accept="image/*" name="dbjbtu2" oninput="showImage(this,'dbjbtu2')"/>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂上各长度示意图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu3" accept="image/*"
                                           oninput="showImage(this,'dbjbtu3')"/></td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>
                <tr>
                    <td ><b>吊臂钢材牌号</b></td>
                    <td ><p><i> </i></p></td>
                    <td ><input type="text" name="dbgcph"/></td>
                    <td > </td>
                </tr>
                <tr>
                    <td ><b>吊臂材料屈服强度</b></td>
                    <td ><p><i>σ<sub>s</sub></i></p></td>
                    <td ><input type="text" name="dbss"/></td>
                    <td >N/mm<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>吊臂截面高度</b></td>
                    <td ><p><i>h</i></p></td>
                    <td ><input type="text" name="dbjh"/></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>吊臂截面宽度</b></td>
                    <td ><p><i>b</i></p></td>
                    <td ><input type="text" name="dbjb"/></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>吊臂截面厚度</b></td>
                    <td ><p><i>e</i></p></td>
                    <td ><input type="text" name="dbje"/></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>吊臂最危险截面X向抗弯模量(螺栓孔影响)</b></td>
                    <td ><p><i>W<sub>x</sub></i></p></td>
                    <td ><input type="text" name="dbwxls"/></td>
                    <td >mm<sup>3</sup></td>
                </tr>
                <tr>
                    <td ><b>吊臂最危险截面Y向抗弯模量(螺栓孔影响)</b></td>
                    <td ><p><i>W<sub>y</sub></i></p></td>
                    <td ><input type="text" name="dbwyls"/></td>
                    <td >mm<sup>3</sup></td>
                </tr>
                <tr>
                    <td ><b>吊臂最危险截面X向惯性矩(螺栓孔影响)</b></td>
                    <td ><p><i>I<sub>x</sub></i></p></td>
                    <td ><input type="text" name="dbixls"/></td>
                    <td >mm<sup>4</sup></td>
                </tr>
                <tr>
                    <td ><b>吊臂前支撑点前部长度</b></td>
                    <td ><p><i>L<sub>m</sub></i></p></td>
                    <td ><input type="text" name="dblm"/></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>吊臂前后支撑点间距</b></td>
                    <td ><p><i>L<sub>l</sub></i></p></td>
                    <td ><input type="text" name="dbll"/></td>
                    <td >mm</td>
                </tr>
             </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>5.吊臂前支撑点前部载荷</b></td>
                </tr>

                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu4.png" width="400px" id="dbjbtu4" name="dbjbtu4" >
                            <input type="hidden" value="tu_dbjbtu4.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂前支撑点前部载荷图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu4" accept="image/*"
                                           oninput="showImage(this,'dbjbtu4')"/></td>
                </tr>

                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td>吊船自重</td>
                    <td><p><i>S<sub>wp</sub></i></p></td>
                    <td><input type='text' name="swp"/></td>
                    <td>kg</td>
                </tr>

                <tr>
                    <td>吊船额定载重量</td>
                    <td><p><i>R<sub>1</sub></i></p></td>
                    <td><input type='text' name="r1"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>吊船钢丝绳自重</td>
                    <td><p><i>M<sub>wr</sub></i></p></td>
                    <td><input type='text' name="mwr"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>防风背包自重</td>
                    <td><p><i>m<sub>ffbb</sub></i></p></td>
                    <td><input type='text' name="mffbb"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>总悬挂载荷</td>
                    <td><p><i>T<sub>sl</sub></i></p></td>
                    <td><input type='text' name="tsl"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构额定载重量</td>
                    <td><p><i>H<sub>wll</sub></i></p></td>
                    <td><input type='text' name="hwll"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构钢丝绳自重</td>
                    <td><p><i>H<sub>sw</sub></i></p></td>
                    <td><input type='text' name="hsw"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构总悬挂载荷</td>
                    <td><p><i>T<sub>shl</sub></i></p></td>
                    <td><input type='text' name="tshl"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>臂头自重</td>
                    <td><p><i>m<sub>1</sub></i></p></td>
                    <td><input type='text' name="m1"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构导绳架自重</td>
                    <td><p><i>m<sub>2</sub></i></p></td>
                    <td><input type='text' name="m2"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>安全绳自重</td>
                    <td><p><i>m<sub>3</sub></i></p></td>
                    <td><input type='text' name="m3"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>吊臂前支撑点前部自重</td>
                    <td><p><i>m<sub>4</sub></i></p></td>
                    <td><input type='text' name="m4jbcq"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构装置自重</td>
                    <td><p><i>m<sub>5</sub></i></p></td>
                    <td><input type='text' name="m5db"/></td>
                    <td>kg</td>
                </tr>
            </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>6.重心至吊臂前支撑点距离</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu6.png" width="400px" id="dbjbtu6" name="dbjbtu6" >
                            <input type="hidden" value="tu_dbjbtu6.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂重心至吊臂前支撑点距离图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu6" accept="image/*"
                                           oninput="showImage(this,'dbjbtu6')"/></td>
                </tr>
                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td ><b>总悬挂载荷重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>slc</sub></i></p></td>
                    <td ><input type="text" name="lslc" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构总悬挂载荷重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>shlc</sub></i></p></td>
                    <td ><input type="text" name="lshlc" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>臂头重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>c1</sub></i></p></td>
                    <td ><input type="text" name="lc1" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构导绳架重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>c2</sub></i></p></td>
                    <td ><input type="text" name="lc2" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>安全绳重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>c3</sub></i></p></td>
                    <td ><input type="text" name="lc3" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>吊臂前支撑点前部自重重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>c4</sub></i></p></td>
                    <td ><input type="text" name="lc4" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构装置重心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>c5</sub></i></p></td>
                    <td ><input type="text" name="lc5" /></td>
                    <td >m</td>
                </tr>
            </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>7.迎风面积</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu5.png" width="400px" id="dbjbtu5" name="dbjbtu5" >
                            <input type="hidden" value="tu_dbjbtu5.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂风载荷示意图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu5" accept="image/*"
                                           oninput="showImage(this,'dbjbtu5')"/></td>
                </tr>
                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td ><b>总悬挂载荷迎风面积</b></td>
                    <td ><p><i>A<sub>sl</sub></i></p></td>
                    <td ><input type="text" name="aslcx" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>物料起升机构总悬挂载荷迎风面积</b></td>
                    <td ><p><i>A<sub>shl</sub></i></p></td>
                    <td ><input type="text" name="ashlcx" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>臂头迎风面积</b></td>
                    <td ><p><i>A<sub>1</sub></i></p></td>
                    <td ><input type="text" name="acx1" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>物料起升机构导绳架迎风面积</b></td>
                    <td ><p><i>A<sub>2</sub></i></p></td>
                    <td ><input type="text" name="acx2" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>安全绳迎风面积</b></td>
                    <td ><p><i>A<sub>3</sub></i></p></td>
                    <td ><input type="text" name="acx3" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>吊臂前支撑点前部自重迎风面积</b></td>
                    <td ><p><i>A<sub>4</sub></i></p></td>
                    <td ><input type="text" name="acx4cq" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>物料起升机构装置迎风面积</b></td>
                    <td ><p><i>A<sub>5</sub></i></p></td>
                    <td ><input type="text" name="acx5db" /></td>
                    <td >m<sup>2</sup></td>
                </tr>
            </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>8.面心至吊臂前支撑点距离</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu7.png" width="400px" id="dbjbtu7" name="dbjbtu7" >
                            <input type="hidden" value="tu_dbjbtu7.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂面心至吊臂前支撑点距离图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu7" accept="image/*"
                                           oninput="showImage(this,'dbjbtu7')"/></td>
                </tr>
                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td ><b>总悬挂载荷面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>slx</sub></i></p></td>
                    <td ><input type="text" name="lslx" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构总悬挂载荷面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>shlx</sub></i></p></td>
                    <td ><input type="text" name="lshlx" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>臂头面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>x1</sub></i></p></td>
                    <td ><input type="text" name="lx1" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构导绳架面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>x2</sub></i></p></td>
                    <td ><input type="text" name="lx2" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>安全绳面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>x3</sub></i></p></td>
                    <td ><input type="text" name="lx3" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>吊臂前支撑点前部自重面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>x4</sub></i></p></td>
                    <td ><input type="text" name="lx4" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构装置面心至吊臂前支撑点距离</b></td>
                    <td ><p><i>L<sub>x5</sub></i></p></td>
                    <td ><input type="text" name="lx5" /></td>
                    <td >m</td>
                </tr>
            </table>
        </div>

        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>9.重心至吊臂前端法兰距离</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                            <img src="/image/Tensile/dbjbtu8.png" width="400px" id="dbjbtu8" name="dbjbtu8" >
                            <input type="hidden" value="tu_dbjbtu8.png"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0">吊臂外部载荷重心至吊臂前端法兰距离图</td>
                    <td colspan="4"><input class="image" type="file" name="dbjbtu8" accept="image/*"
                                           oninput="showImage(this,'dbjbtu8')"/></td>
                </tr>
                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td ><b>总悬挂载荷重心至吊臂前端法兰距离</b></td>
                    <td ><p><i>L<sub>slwq</sub></i></p></td>
                    <td ><input type="text" name="lslwq" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构总悬挂载荷重心至吊臂前端法兰距离</b></td>
                    <td ><p><i>L<sub>shlwq</sub></i></p></td>
                    <td ><input type="text" name="lshlwq" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>臂头重心至吊臂前端法兰距离</b></td>
                    <td ><p><i>L<sub>wq1</sub></i></p></td>
                    <td ><input type="text" name="lwq1" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>物料起升机构导绳架重心至吊臂前端法兰距离</b></td>
                    <td ><p><i>L<sub>wq2</sub></i></p></td>
                    <td ><input type="text" name="lwq2" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>安全绳重心至吊臂前端法兰距离</b></td>
                    <td ><p><i>L<sub>wq3</sub></i></p></td>
                    <td ><input type="text" name="lwq3" /></td>
                    <td >m</td>
                </tr>
            </table>
        </div>

        <div style="display: none">
            <input type="text" name="dcgssp" />
            <input type="text" name="grugssp" />
            <input type="text" name="m5" />
            <input type="text" name="acx5" />
            <input type="text" name="gruqhxs" />
            <input type="text" name="lbtzh" />
            <input type="text" name="ldcgh" />
            <input type="text" name="ldslzh" />
            <input type="text" name="mbmj" />
            <input type="text" name="ldbb" />
            <input type="text" name="ldbbz" />
            <input type="text" name="mdbb" />
            <input type="text" name="adbb" />
            <input type="text" name="dbmjb" />
            <input type="text" name="dbwx" />
            <input type="text" name="dbwy" />
            <input type="text" name="dbix" />
            <input type="text" name="dbjbxh" />
        </div>
        <input type="hidden" name="pdfType"/>
    </form>

        <div class="navbox">
            <div style="width:460px;height:520px; font-size: 14px   ;">
                <table id="pdf3tb">
                    <tr>
                        <td colspan="5" style="padding: 10px 0 10px 0;background-color: #aaa;"><b>核算结果</b></td>
                    </tr>
                    <tr>
                        <td style="width:25%;"><b>名称</b></td>
                        <td style="width:25%;"><b>标准值</b></td>
                        <td style="width:25%;"><b>计算值</b></td>
                        <td style="width:25%;"><b>是否满足</b></td>
                    </tr>
                    <tr>
                        <td><b>吊臂强度校核</b></td>
                        <!--<td id="ssqd"></td>-->
                        <!--<td id="smax"></td>-->
                        <td><p><span id="ssqd"></span>N/mm<sup>2</sup></p></td>
                        <td><p><span id="smax"></span>N/mm<sup>2</sup></p></td>
                        <td id="dbm1"></td>
                    </tr>
                    <tr>
                        <td><b>吊臂挠度校核</b></td>
                        <!--<td id="nd"></td>-->
                        <!--<td id="f"></td>-->
                        <td><p><span id="nd"></span>mm</p></td>
                        <td><p><span id="f"></span>mm</p></td>
                        <td id="dbm2"></td>
                    </tr>
                 </table>
                <div style="margin: 0 150px 0;">
                    <input type="submit"  class="button" type="submit" value="校验" onclick="return janyan()"/>
                </div>
            </div>
        </div>
    </div>
    <div class="buttonbox">
        <input type="submit" form="form1" class="button"  value="导出单臂吊臂pdf" onclick="$('form').attr('action','SingleJib/getPDF');
                                                                                            isCheck(false);changeType('Calculation')"/>
        <input type="submit" form="form1" class="button"  value="导出检验pdf" onclick="$('form').attr('action','SingleJib/getPDF');
                                                                                            isCheck(true);changeType('Check')"/>
        <input type="reset" form="form1" value="重置" onclick="$('#pdf3tb td[id]').text('')"/>
    </div>

<script>
    function changeType(l){
        var e = $('input[name=pdfType]');
        if (e.length == 0) {
            $('form').append('<input name="pdfType" type="hidden"/>');
        }
        e = $('input[name=pdfType]');
        e.val(l);
    }
    var calculateFunction={
        dbjbxh:function(){
            return dbjbModelList[ dbjbModel ]['dbjbxh'];
        },
        dcgssp:function(){
            return dcgssModelList[ dcgssModel ]['dcgssp'];
        },
        grugssp:function(){
            return gruModelList[ gruModel ]['grugssp'];
        },
        m5:function(){
            return gruModelList[ gruModel ]['m5'];
        },
        acx5:function(){
            return gruModelList[ gruModel ]['acx5'];
        },
        gruqhxs:function(){
            return gruazModelList[ gruazModel ]['gruqhxs'];
        },
        lbtzh:function(){
            return btModelList[ btModel ]['lbtzh'];
        },
        ldcgh:function(){
            return btModelList[ btModel ]['ldcgh'];
        },
        ldslzh:function(){
            return btModelList[ btModel ]['ldslzh'];
        },
        mbmj:function(){
            return dbjbModelList[ dbjbModel ]['mbmj'];
        },
        ldbb:function(){
            return dbjbModelList[ dbjbModel ]['ldbb'];
        },
        ldbbz:function(){
            return dbjbModelList[ dbjbModel ]['ldbbz'];
        },
        mdbb:function(){
            return dbjbModelList[ dbjbModel ]['mdbb'];
        },
        adbb:function(){
            return dbjbModelList[ dbjbModel ]['adbb'];
        },
        dbmjb:function(){
            return dbjbModelList[ dbjbModel ]['dbmjb'];
        },
        dbwx:function(){
            return dbjbModelList[ dbjbModel ]['dbwx'];
        },
        dbwy:function(){
            return dbjbModelList[ dbjbModel ]['dbwy'];
        },
        dbix:function(){
            return dbjbModelList[ dbjbModel ]['dbix'];
        },
        dbgcph:function(){
            return ' Q355B ' ;
        },
        dbss:function(){
            return 355 ;
        },
        dbjh:function(){
            return dbjbModelList[ dbjbModel ]['dbjh'];
        },
        dbjb:function(){
            return dbjbModelList[ dbjbModel ]['dbjb'];
        },
        dbje:function(){
            return dbjbModelList[ dbjbModel ]['dbje'];
        },
        dbll:function(){
            return dbjbModelList[ dbjbModel ]['dbll'];
        },
        dbwxls:function(){
            return dbwx * ( 1 - 0.05 * nlsk ) ;
        },
        dbwyls:function(){
            return dbwy * ( 1 - 0.05 * nlsk ) ;
        },
        dbixls:function(){
            return dbix * ( 1 - 0.05 * nlsk ) ;
        },
        dblm:function(){
            return ( lbd - ldcgh - dbll / 2000 ) * 1000 ;
        },
        swp:function(){
            return dcModelList[ dcModel ]['swp'];
        },
        r1:function(){
            return dcModelList[ dcModel ]['r1'];
        },
        mwr:function(){
            return h * dcgssp * 4 ;
        },
        mffbb:function(){
            return ffbbModelList[ ffbbModel ]['mffbb'];
        },
        tsl:function (){
            return swp + r1 + mwr + mffbb ;
        },
        hwll:function(){
            return gruModelList[ gruModel ]['hwll'];
        },
        hsw:function(){
            return h * grugssp ;
        },
        tshl:function(){
            return hwll + hsw ;
        },
        m1:function(){
            return btModelList[ btModel ]['m1'];
        },
        m2:function(){
            return gruModelList[ gruModel ]['m2'];
        },
        m3:function(){
            return  h * 0.203;
        },
        m4jbcq:function(){
            return  mdbb + ( dblm - ldbbz ) * mbmj / 1000 ;
        },
        m5db:function(){
            return m5 * gruqhxs ;
        },


        lslc:function(){
            return lbd - dbll / 2000 ;
        },
        lshlc:function(){
            return dblm / 1000 + lbtzh ;
        },
        lc1:function(){
            return lshlc ;
        },
        lc2:function(){
            if( m2 == 0 ){
               return 0 ;
            }else {
                return dblm / 1000 + ldslzh ;
            }
        },
        lc3:function(){
            return lshlc ;
        },
        lc4:function(){
            return ( mdbb * ( dblm - ldbb ) / 1000 + ( dblm - ldbbz ) * mbmj * ( dblm - ldbbz ) / 2000000 / m4jbcq ) ;
        },
        lc5:function(){
            if( m5db == 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        aslcx:function(){
            return dcModelList[ dcModel ]['aslcx'];
        },
        acx1:function(){
            return btModelList[ btModel ]['acx1'];
        },
        acx2:function(){
            return gruModelList[ gruModel ]['acx2'];
        },
        acx4cq:function(){
            return adbb + dbjh * ( dblm - ldbbz ) / 1000000 ;
        },
        acx5db:function(){
            return acx5 * gruqhxs ;
        },

        lslx:function(){
            return lslc ;
        },
        lshlx:function(){
            return lshlc ;
        },
        lx1:function(){
            return lc1 ;
        },
        lx2:function(){
            return lc2 ;
        },
        lx3:function(){
            return lc3 ;
        },
        lx4:function(){
            return lc4 ;
        },
        lx5:function(){
            return lc5 ;
        },

        lslwq:function(){
            return lslc - dblm / 1000 ;
        },
        lshlwq:function(){
            return lshlc - dblm / 1000 ;
        },
        lwq1:function(){
            return lc1 - dblm / 1000 ;
        },
        lwq2:function(){
            if( m2 == 0 ){
                return 0 ;
            }else {
                return lc2 - dblm / 1000 ;
            }
        },
        lwq3:function(){
            return lc3 - dblm / 1000 ;
        },
    };
    data.init(calculateFunction);
    imgDaefultData={
        dbjbtu1:{inputvalue:"dbjbtu1.png"},
        dbjbtu3:{inputvalue:"dbjbtu3.png"},
        dbjbtu4:{inputvalue:"dbjbtu4.png"},
        dbjbtu5:{inputvalue:"dbjbtu5.png"},
        dbjbtu6:{inputvalue:"dbjbtu6.png"},
        dbjbtu7:{inputvalue:"dbjbtu7.png"},
        dbjbtu8:{inputvalue:"dbjbtu8.png"},
    }
    getData.dataToImage(imgDaefultData);
</script>
</body>
</html>