<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>仰柱机构校核计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{js/jquery-1.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui-1.8.16.custom.min.js}"></script>
<!--    <script th:src="@{js/vue.js}"></script>-->
    <script th:src="@{js/xyz/jquery.Ajax.Form.js}"></script>
    <link th:href="@{css/page.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre.min.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre2.min.css}" rel="stylesheet"/>
    <link th:href="@{css/base.min.css}" rel="stylesheet"/>
    <link th:href="@{css/public_offline.css}" rel="stylesheet"/>
    <script th:src="@{js/dataClass.js}" ></script>
    <style type="text/css">
        p{
            font-size: 17px;
        }
        b{
            letter-spacing:1px;
            line-height: normal;
        }
        .main {
            margin:20px 480px 100px;
            width:1250px;
            background-color:white;
            font-size: 0;
            border:1px solid black;
        }
        .boxform{
            margin:auto;
            width:1230px;
            display: block;
            font-size: 0;
            padding: 10px 0 0 10px;
        }
        .main .boxform div{
            display: inline-block;
            font-size: 14px;
            margin: 0 10px 10px 0;
            vertical-align: top;
        }
        td{
            border:1px solid #000;
            text-align: center;
            line-height: 14px;
            height:20px;
        }
        tr{
            height: 20px;
        }
        table{
            border-radius: 5px;
            width:100%;
            background-color: #aaa;
        }
        input {
            height: 20px;
            width:90%;
            border: 0;
            text-align: center;
        }
        .buttonbox{
            bottom: 5px;
            right:5px;
            display: block;
            position: fixed;
            margin-bottom: 5px;
        }
        .buttonbox input,.navbox input{
            background-color: #ccc;
            display: block;
            width:140px;
            height: 50px;
            margin: 5px;
            border-radius:25px;
        }
        .navbox{
            top: 50%;;
            left:10px;
            display: block;
            position: fixed;
            margin-top: -160px;
            font-size: 16px;
        }
        .navbox td{
            padding: 0.4em 0.8em;
        }
        /*.bxs{*/
            /*display: none;*/
        /*}*/

    </style>
    <script>
        yzjgModelList= {
            'YZ(1.8)':{
                yzdd:160,
                yzxd:110,
                yzlltl:321700,
                yzgcyl:16,
                ljdc:0.8,
                ljcyy:0.61,
                lyhq:1.48,
                ljdcf:1.97,
                ljcyyf:0.71,
                lyhqf:0.5,
                lyg:1.97,
                hyg:140,
                byg:140,
                eyg:8,
                ayg:4059,
                iiminyg:53.32,
                dd1:65,
                dd2:65.2,
                ljat:50,
                ljab:24,
                ljdhzf:1.12,
            },
            'YZ(2.5)':{
                yzdd:180,
                yzxd:125,
                yzlltl:407150,
                yzgcyl:16,
                ljdc:0.85,
                ljcyy:0.6,
                lyhq:1.52,
                ljdcf:2.63,
                ljcyyf:0.67,
                lyhqf:0.6,
                lyg:2.63,
                hyg:150,
                byg:150,
                eyg:8,
                ayg:4379,
                iiminyg:57.4,
                dd1:70,
                dd2:70.2,
                ljat:50,
                ljab:28,
                ljdhzf:1.78,
            },
            'YZ(1.8)(3+1)':{
                yzdd:220,
                yzxd:160,
                yzlltl:608210,
                yzgcyl:16,
                ljdc:0.9,
                ljcyy:0.59,
                lyhq:1.7,
                ljdcf:2.02,
                ljcyyf:0.91,
                lyhqf:0.8,
                lyg:2.02,
                hyg:180,
                byg:180,
                eyg:8,
                ayg:5339,
                iiminyg:69.66,
                dd1:80,
                dd2:80.2,
                ljat:60,
                ljab:24,
                ljdhzf:1.12,
            },
            'YZ(3.5)':{
                yzdd:250,
                yzxd:180,
                yzlltl:785400,
                yzgcyl:16,
                ljdc:1.16,
                ljcyy:0.84,
                lyhq:2.15,
                ljdcf:3.6,
                ljcyyf:1.04,
                lyhqf:0.8,
                lyg:3.6,
                hyg:200,
                byg:190,
                eyg:20,
                ayg:13200,
                iiminyg:71.9,
                dd1:80,
                dd2:80.2,
                ljat:60,
                ljab:36,
                ljdhzf:2.63,
            },
        };

        dcModelList={
            "2.0米铝吊船(PT(250_2))":{
                swp:96,
                r1:250,
            },
            "2.5米铝吊船(PT(250_2.5))":{
                swp:105,
                r1:250,
            },
            "3.0米铝吊船(PT(250_3))":{
                swp:115,
                r1:250,
            },
            "4.0米铝吊船(PT(250_4.0))":{
                swp:135,
                r1:250,
            },
            "1.5米卫星吊船(PT(800_2.0)W(100-1.5))":{
                swp:577,
                r1:250,
            },
            "2.0米卫星吊船(PT(800_2.0)W(100-2.0))":{
                swp:650,
                r1:250,
            },
            "1.5米手动丝杠伸展吊船(SDPT250G(1.5))":{
                swp:585,
                r1:250,
            },
            "2.0米手动丝杠伸展吊船(SDPT250G(2.0))":{
                swp:619,
                r1:250,
            },
            "2.5米手动丝杠伸展吊船(SDPT250G(2.5))":{
                swp:634,
                r1:250,
            },
            "3.0米手动丝杠伸展吊船(SDPT250G(3.0))":{
                swp:683,
                r1:250,
            },
            "2.0米液压伸展吊船(YYPT200G(2.0))":{
                swp:624,
                r1:250,
            },
            "2.0米液压伸展吊船(2.0-2.3)(YYPT200G(2.0-2.3))":{
                swp:651,
                r1:250,
            },
            "2.5米液压伸展吊船(YYPT200G(2.5))":{
                swp:675,
                r1:250,
            },
            "3.0米液压伸展吊船(YYPT200G(3.0))":{
                swp:696,
                r1:250,
            },
            "3.5米液压伸展吊船(YYPT200G(3.5))":{
                swp:720,
                r1:250,
            },
            "2.0米折叠吊船(SSPT(250_2.0))":{
                swp:116,
                r1:250,
            },
            "2.5米折叠吊船(SSPT(250_2.5))":{
                swp:124,
                r1:250,
            },
            "2.0米折弯吊船(ZWDC(250_2))":{
                swp:120,
                r1:250,
            },
            "2.5米折弯吊船(ZWDC(250_2.5))":{
                swp:133,
                r1:250,
            },
            "3.0米折弯吊船(ZWDC(250_3))":{
                swp:155,
                r1:250,
            },
            "2.5米伸缩子吊船":{
                swp:1140,
                r1:250,
            },
            "2.0米CDD吊船(CDD240(2A).0)":{
                swp:350,
                r1:250,
            },
            "2.5米CDD吊船(CDD240(2.5))":{
                swp:375,
                r1:250,
            },
            "3.0米CDD吊船(CDD240(3))":{
                swp:400,
                r1:250,
            },
            "4.0米CDD吊船(CDD240(4))":{
                swp:450,
                r1:250,
            },
            "其它":{
                swp:" ",
                r1:" ",
            }
        };
        dcgssModelList={
            "Φ7":{
                dcgssp:0.179,
             },
            "Φ8":{
                dcgssp:0.244,
            },
            "Φ8.3":{
                dcgssp:0.255,
            },
            "Φ10":{
                dcgssp:0.391,
            },
            "Φ13":{
                dcgssp:0.65,
            },
            "布鲁格Φ7":{
                dcgssp:0.179,
            },
            "布鲁格Φ8":{
                dcgssp:0.217,
            },
          };

        ffbbModelList={
            "有":{
                mffbb:100,
            },
            "无":{
                mffbb:0,
            },
        };

        btModelList={
            "YJBT1800G(1.8米羊角臂头-高臂头)":{
                m1:330,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT1800Z(1.8米羊角臂头-中臂头)":{
                m1:305,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT1800D(1.8米羊角臂头-低臂头)":{
                m1:297,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2300G(2.3米羊角臂头-高臂头)":{
                m1:339,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2300Z(2.3米羊角臂头-中臂头)":{
                m1:312,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2300D(2.3米羊角臂头-低臂头)":{
                m1:302,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2800G(2.8米羊角臂头-高臂头)":{
                m1:344,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2800Z(2.8米羊角臂头-中臂头)":{
                m1:317,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "YJBT2800D(2.8米羊角臂头-低臂头)":{
                m1:309,
                lbtzh:0.55,
                ldcgh:1.35,
                ldslzh:0.35,
            },
            "HDBT2300(2.3米蝴蝶臂头)":{
                m1:554,
                lbtzh:0.8,
                ldcgh:1.8,
                ldslzh:0.8,
            },
            "XDBT2300(2.3米下挂臂头)":{
                m1:208,
                lbtzh:0,
                ldcgh:0,
                ldslzh:0,
            },
            "XDBT2500Φ13(2.5米下挂臂头)":{
                m1:312,
                lbtzh:0,
                ldcgh:0,
                ldslzh:0,
            },
            "XDBT3000Φ13(3.0米下挂臂头)":{
                m1:346,
                lbtzh:0,
                ldcgh:0,
                ldslzh:0,
            },
            "DJBT1800(1.8米单角臂头)":{
                m1:280,
                lbtzh:0.8,
                ldcgh:2,
                ldslzh:1,
            },
            "DJBT2300(2.3米单角臂头)":{
                m1:308,
                lbtzh:0.9,
                ldcgh:2,
                ldslzh:1,
            },
            "DJBT2500Φ13(2.5米单角臂头)":{
                m1:403,
                lbtzh:1.6,
                ldcgh:2.2,
                ldslzh:1.2
            },
            "DJBT3300(3.3米单角臂头)":{
                m1:359,
                lbtzh:1.2,
                ldcgh:2.5,
                ldslzh:1.5,
            },
            "PBT800(0.8米一字臂头)":{
                m1:207,
                lbtzh:0.4,
                ldcgh:0.4,
                ldslzh:0,
            },
            "MHEBT1944(MHE1944臂头)":{
                m1:235,
                lbtzh:0.4,
                ldcgh:0.4,
                ldslzh:0,
            },
            "其它":{
                m1:" ",
                lbtzh:" ",
                ldcgh:" ",
                ldslzh:" ",
            },
        };
        gruModelList={
            "GRU285":{
                m2:50,
                m5:235,
                grugssp:0.252,
            },
            "GRU295":{
                m2:50,
                m5:285,
                grugssp:0.391,
            },
            "GRU313":{
                m2:50,
                m5:385,
                grugssp:0.65,
            },
            "无":{
                m2:0,
                m5:0,
                grugssp:0,
            },
        };
        trippingModelList={
            "160LZ":{
                dcw:160,
                bcw:50,
            },
            "170LZ":{
                dcw:170,
                bcw:60,
            },
            "200LZ":{
                dcw:220,
                bcw:65,
            },
            "230LZ":{
                dcw:230,
                bcw:65,
            },
            "260LZ":{
                dcw:260,
                bcw:75,
            },
            "350":{
                dcw:350,
                bcw:85,
            },
            "450":{
                dcw:450,
                bcw:120,
            },
        };
    </script>
    <script type="text/javascript">
        function isNumber(value) {         //验证是否为数字
            var patrn = /^(-)?\d+(\.\d+)?$/;
            if (patrn.exec(value) == null || value == "") {
                return false
            } else {
                return true
            }
        }
        $(document).ready(function () {
            InitNav(1)
            $('#UprightMechanism').addClass('o-sub-cur');
        })

        function janyan() {
            $.ajax({
                url: "UprightMechanism/jy",
                type: "post",
                data: $("form").serialize(),
                async: false,
                dataType: "json",
                cache: false,
                success: function (data) {
                    Object.keys(data).forEach(function (id) {
                        $("#" + id).text(data[id]);
                        if(data[id]=="不满足") $("#" + id).css("background-color","red");
                        if(data[id]=="满足") $("#" + id).css("background-color","#aaa");
                    })
                }
            })
            return false;
        }

        function showImage(form,element) {
            // 先获取用户上传的文件对象
            var fileObj = form.files[0];
            if(fileObj.size>1048576){
                alert("上传文件大于1M，请重新选择");
                form.value="";
                return false;
            }
            // 生成一个文件读取的内置对象
            var fileReader = new FileReader();
            // 将文件对象传递给内置对象
            fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
            // 将读取出文件对象替换到img标签
            fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
                $('#'+element).attr('src',fileReader.result).attr('display','inline-block')
            }
        }
    </script>


</head>
<body>
<nav class="navbar navbar-default" role="head" th:replace="head"></nav>
<br/><br/>
<div class="main">
    <iframe style="display: none" name="stop" src="about:blank"></iframe>
    <form class="boxform" name="form1" id="form1" th:id="form1" opType="#" target="stop" method="post" enctype="multipart/form-data">
        <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">仰柱机构校核计算书</div>
        <!- 封面内容 ->
        <div style="width:400px;">
            <table>
                <tr>
                    <td style="width:30%;padding:10px 0;;padding:10px 0;;">项目批令号/方案编号</td>
                    <td style="width:55%;">
                        <input type='text' name="sjht" type="text" list="txtBatchId"/>
                        <datalist id="txtBatchId">
                        </datalist>
                    </td>
                    <td style="width:15%;"><input type="button" name="getData" value="读取"/></td>
                    <script>
                        $('input[name="getData"]').click(function () {
                                var url = '/UprightMechanism/getData';
                                var id = $('input[name="sjht"]').val();
                                getData.geteDataFromDB(url, id)
                            }
                        )
                    </script>
                </tr>
                <tr>
                    <td colspan="3" style="background-color: #aaa;padding: 10px 0 10px 0"><b>1.封面内容</b></td>
                </tr>
                <tr>
                    <td style="width:30%;padding:10px 0;;padding:10px 0;;"><b>名称</b></td>
                    <td colspan="2" style="width:70%;">内容</td>
                </tr>
                <tr>
                    <td ><b>本机计算书编号</b></td>
                    <td colspan="2" ><input type="text" name="no"/></td>
                </tr>
                <tr>
                    <td ><b>本机版本</b></td>
                    <td colspan="2" ><input type="text" name="ver" /></td>
                </tr>
                <tr>
                    <td ><b>项目名称</b></td>
                    <td colspan="2" ><input type="text" name="xmmc" /></td>
                </tr>
                <tr>
                    <td ><b>主机型号</b></td>
                    <td colspan="2" ><input type="text" name="zjxh" /></td>
                </tr>
                <tr>
                    <td ><b>计算人</b></td>
                    <td colspan="2" ><input type="text" name="jsr" /></td>
                </tr>
                <tr>
                    <td ><b>审核人</b></td>
                    <td colspan="2" ><input type="text" name="shr" /></td>
                </tr>
                <tr>
                    <td ><b>批准人</b></td>
                    <td colspan="2" ><input type="text" name="pzr" /></td>
                </tr>
                <tr>
                    <td ><b>计算日期</b></td>
                    <td colspan="2" ><input type="text" name="date" /></td>
                </tr>
            </table>
        </div>
        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="4" style="background-color: #aaa;padding: 10px 0 10px 0"><b>2.基本参数</b></td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>
                <tr>
                    <td ><b>起升高度</b></td>
                    <td ><p><i>h</i></p></td>
                    <td ><input type="text" name="h" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>最大臂长</b></td>
                    <td ><p><i>L<sub>bd</sub></i></p></td>
                    <td ><input type="text" name="lbd"/></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>最小臂长</b></td>
                    <td ><p><i>L<sub>bx</sub></i></p></td>
                    <td ><input type="text" name="lbx"/></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>工作状态配重臂长</b></td>
                    <td ><p><i>L<sub>bp</sub></i></p></td>
                    <td ><input type="text" name="lbp"/></td>
                    <td >m</td>
                </tr>
                <!--<tr>-->
                    <!--<td ><b>非工作状态配重臂长</b></td>-->
                    <!--<td ><p><i> </i></p></td>-->
                    <!--<td ><input type="text" name="lbpf"/></td>-->
                    <!--<td >m</td>-->
                <!--</tr>-->
                <tr>
                    <td>仰柱机构型号选择</td>
                    <td colspan="4">
                        <select name="yzjgModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="YZ(1.8)">YZ(1.8)</option>
                            <option value="YZ(2.5)">YZ(2.5)</option>
                            <option value="YZ(1.8)(3+1)">YZ(1.8)(3+1)</option>
                            <option value="YZ(3.5)">YZ(3.5)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>吊船型号选择</td>
                    <td colspan="4">
                        <select name="dcModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="2.0米铝吊船(PT(250_2))">2.0米铝吊船(PT(250_2))</option>
                            <option value="2.5米铝吊船(PT(250_2.5))">2.5米铝吊船(PT(250_2.5))</option>
                            <option value="3.0米铝吊船(PT(250_3))">3.0米铝吊船(PT(250_3))</option>
                            <option value="4.0米铝吊船(PT(250_4.0))">4.0米铝吊船(PT(250_4.0))</option>
                            <option value="1.5米卫星吊船(PT(800_2.0)W(100-1.5))">1.5米卫星吊船(PT(800_2.0)W(100-1.5))</option>
                            <option value="2.0米卫星吊船(PT(800_2.0)W(100-2.0))">2.0米卫星吊船(PT(800_2.0)W(100-2.0))</option>
                            <option value="1.5米手动丝杠伸展吊船(SDPT250G(1.5))">1.5米手动丝杠伸展吊船(SDPT250G(1.5))</option>
                            <option value="2.0米手动丝杠伸展吊船(SDPT250G(2.0))">2.0米手动丝杠伸展吊船(SDPT250G(2.0))</option>
                            <option value="2.5米手动丝杠伸展吊船(SDPT250G(2.5))">2.5米手动丝杠伸展吊船(SDPT250G(2.5))</option>
                            <option value="3.0米手动丝杠伸展吊船(SDPT250G(3.0))">3.0米手动丝杠伸展吊船(SDPT250G(3.0))</option>
                            <option value="2.0米液压伸展吊船(YYPT200G(2.0))">2.0米液压伸展吊船(YYPT200G(2.0))</option>
                            <option value="2.0米液压伸展吊船(2.0-2.3)(YYPT200G(2.0-2.3))">2.0米液压伸展吊船(2.0-2.3)(YYPT200G(2.0-2.3))</option>
                            <option value="2.5米液压伸展吊船(YYPT200G(2.5))">2.5米液压伸展吊船(YYPT200G(2.5))</option>
                            <option value="3.0米液压伸展吊船(YYPT200G(3.0))">3.0米液压伸展吊船(YYPT200G(3.0))</option>
                            <option value="3.5米液压伸展吊船(YYPT200G(3.5))">3.5米液压伸展吊船(YYPT200G(3.5))</option>
                            <option value="2.0米折叠吊船(SSPT(250_2.0))">2.0米折叠吊船(SSPT(250_2.0))</option>
                            <option value="2.5米折叠吊船(SSPT(250_2.5))">2.5米折叠吊船(SSPT(250_2.5))</option>
                            <option value="2.0米折弯吊船(ZWDC(250_2))">2.0米折弯吊船(ZWDC(250_2))</option>
                            <option value="2.5米折弯吊船(ZWDC(250_2.5))">2.5米折弯吊船(ZWDC(250_2.5))</option>
                            <option value="3.0米折弯吊船(ZWDC(250_3))">3.0米折弯吊船(ZWDC(250_3))</option>
                            <option value="2.5米伸缩子吊船">2.5米伸缩子吊船</option>
                            <option value="2.0米CDD吊船(CDD240(2A).0)">2.0米CDD吊船(CDD240(2A).0)</option>
                            <option value="2.5米CDD吊船(CDD240(2.5))">2.5米CDD吊船(CDD240(2.5))</option>
                            <option value="3.0米CDD吊船(CDD240(3))">3.0米CDD吊船(CDD240(3))</option>
                            <option value="4.0米CDD吊船(CDD240(4))">4.0米CDD吊船(CDD240(4))</option>
                            <option value="其它">其它</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>吊船钢丝绳型号选择</td>
                    <td colspan="4">
                        <select name="dcgssModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="Φ7">Φ7</option>
                            <option value="Φ8">Φ8</option>
                            <option value="Φ8.3">Φ8.3</option>
                            <option value="Φ10">Φ10</option>
                            <option value="Φ13">Φ13</option>
                            <option value="布鲁格Φ7">布鲁格Φ7</option>
                            <option value="布鲁格Φ8">布鲁格Φ8</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否有防风背包</td>
                    <td colspan="4">
                        <select name="ffbbModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>臂头型号选择</td>
                    <td colspan="4">
                        <select name="btModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="YJBT1800G(1.8米羊角臂头-高臂头)">YJBT1800G(1.8米羊角臂头-高臂头)</option>
                            <option value="YJBT1800Z(1.8米羊角臂头-中臂头)">YJBT1800Z(1.8米羊角臂头-中臂头)</option>
                            <option value="YJBT1800D(1.8米羊角臂头-低臂头)">YJBT1800D(1.8米羊角臂头-低臂头)</option>
                            <option value="YJBT2300G(2.3米羊角臂头-高臂头)">YJBT2300G(2.3米羊角臂头-高臂头)</option>
                            <option value="YJBT2300Z(2.3米羊角臂头-中臂头)">YJBT2300Z(2.3米羊角臂头-中臂头)</option>
                            <option value="YJBT2300D(2.3米羊角臂头-低臂头)">YJBT2300D(2.3米羊角臂头-低臂头)</option>
                            <option value="YJBT2800G(2.8米羊角臂头-高臂头)">YJBT2800G(2.8米羊角臂头-高臂头)</option>
                            <option value="YJBT2800Z(2.8米羊角臂头-中臂头)">YJBT2800Z(2.8米羊角臂头-中臂头)</option>
                            <option value="YJBT2800D(2.8米羊角臂头-低臂头)">YJBT2800D(2.8米羊角臂头-低臂头)</option>
                            <option value="HDBT2300(2.3米蝴蝶臂头)">HDBT2300(2.3米蝴蝶臂头)</option>
                            <option value="XDBT2300(2.3米下挂臂头)">XDBT2300(2.3米下挂臂头)</option>
                            <option value="XDBT2500Φ13(2.5米下挂臂头)">XDBT2500Φ13(2.5米下挂臂头)</option>
                            <option value="XDBT3000Φ13(3.0米下挂臂头)">XDBT3000Φ13(3.0米下挂臂头)</option>
                            <option value="DJBT1800(1.8米单角臂头)">DJBT1800(1.8米单角臂头)</option>
                            <option value="DJBT2300(2.3米单角臂头)">DJBT2300(2.3米单角臂头)</option>
                            <option value="DJBT2500Φ13(2.5米单角臂头)">DJBT2500Φ13(2.5米单角臂头)</option>
                            <option value="DJBT3300(3.3米单角臂头)">DJBT3300(3.3米单角臂头)</option>
                            <option value="PBT800(0.8米一字臂头)">PBT800(0.8米一字臂头)</option>
                            <option value="MHEBT1944(MHE1944臂头)">MHEBT1944(MHE1944臂头)</option>
                            <option value="其它">其它</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>GRU型号选择</td>
                    <td colspan="4">
                        <select name="gruModel" style="width:100%;height:40px;text-align-last:center">
                            <option value="" style="display: none"></option>
                            <option value="GRU285">GRU285</option>
                            <option value="GRU295">GRU295</option>
                            <option value="GRU313">GRU313</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
             </table>
        </div>
        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>3.仰柱液压缸参数</b></td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>
                <tr>
                    <td ><b>液压缸缸径</b></td>
                    <td ><p><i>D<sub>yzyy</sub></i></p></td>
                    <td ><input type="text" name="yzdd"/></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>液压缸杆径</b></td>
                    <td ><p><i>d<sub>yzyy</sub></i></p></td>
                    <td ><input type="text" name="yzxd"/></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>液压缸单杠最大推力</b></td>
                    <td ><p><i>F<sub>yzyy</sub></i></p></td>
                    <td ><input type="text" name="yzlltl"/></td>
                    <td >N</td>
                </tr>
                <tr>
                    <td ><b>液压缸额定工作压力</b></td>
                    <td ><p><i>P</i></p></td>
                    <td ><input type="text" name="yzgcyl"/></td>
                    <td >MPa</td>
                </tr>
             </table>
            <div style="width:400px;">
                <table>
                    <tr>
                        <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>4.前撑杆相关参数</b></td>
                    </tr>
                    <tr>
                        <td style="width:26%;padding:10px 0;"><b>名称</b></td>
                        <td style="width:17%;">符号</td>
                        <td style="width:40%;">数值</td>
                        <td style="width:17%;">单位</td>
                    </tr>
                    <tr>
                        <td ><b>前撑杆长度</b></td>
                        <td ><p><i>l<sub>yg</sub></i></p></td>
                        <td ><input type="text" name="lyg" /></td>
                        <td >m</td>
                    </tr>
                    <tr>
                        <td ><b>前撑杆断面高度</b></td>
                        <td ><p><i>h<sub>yg</sub></i></p></td>
                        <td ><input type="text" name="hyg" /></td>
                        <td >mm</td>
                    </tr>
                    <tr>
                        <td ><b>前撑杆断面宽度</b></td>
                        <td ><p><i>b<sub>yg</sub></i></p></td>
                        <td ><input type="text" name="byg" /></td>
                        <td >mm</td>
                    </tr>
                    <tr>
                        <td ><b>前撑杆断面厚度</b></td>
                        <td ><p><i>e<sub>yg</sub></i></p></td>
                        <td ><input type="text" name="eyg" /></td>
                        <td >mm</td>
                    </tr>
                    <tr>
                        <td ><b>前撑杆断面的毛面积</b></td>
                        <td ><p><i>A<sub>yg</sub></i></p></td>
                        <td ><input type="text" name="ayg" /></td>
                        <td >mm<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td ><b>前撑杆惯性半径</b></td>
                        <td ><p><i>i<sub>minyg</sub></i></p></td>
                        <td ><input type="text" name="iiminyg" /></td>
                        <td >mm</td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>5.工作状态仰柱机构相关参数</b></td>
                </tr>
                <!--放工作状态仰柱机构图-->
                <tr>
                    <td  colspan="5" style="background-color: #aaa;">
                        <img style="width:400px;height: 350px" th:src="@{工作状态仰柱机构距离参数.png}"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td ><b>工作状态铰支点D至铰支点C水平距离</b></td>
                    <td ><p><i>L<sub>jdc</sub></i></p></td>
                    <td ><input type="text" name="ljdc" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>工作状态铰支点C至仰柱液压缸垂直距离</b></td>
                    <td ><p><i>L<sub>jcyy</sub></i></p></td>
                    <td ><input type="text" name="ljcyy" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>工作状态后支撑杆至前撑杆垂直距离</b></td>
                    <td ><p><i>L<sub>yhq</sub></i></p></td>
                    <td ><input type="text" name="lyhq" /></td>
                    <td >m</td>
                </tr>
            </table>
        </div>
        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>6.非工作状态仰柱机构相关参数</b></td>
                </tr>
                <!--放非工作状态仰柱机构图-->
                <tr>
                    <td  colspan="5" style="background-color: #aaa;">
                        <img style="width:400px;height: 350px" th:src="@{非工作状态仰柱机构距离参数.png}"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:104px;padding:10px 0;"><b>名称</b></td>
                    <td style="width:68px;">符号</td>
                    <td style="width:160px;">数值</td>
                    <td style="width:68px;">单位</td>
                </tr>
                <tr>
                    <td ><b>非工作状态铰支点D至铰支点C水平距离</b></td>
                    <td ><p><i>L<sub>jdcf</sub></i></p></td>
                    <td ><input type="text" name="ljdcf" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>非工作状态铰支点C至仰柱液压缸垂直距离</b></td>
                    <td ><p><i>L<sub>jcyyf</sub></i></p></td>
                    <td ><input type="text" name="ljcyyf" /></td>
                    <td >m</td>
                </tr>
                <tr>
                    <td ><b>非工作状态后支撑杆至前撑杆垂直距离</b></td>
                    <td ><p><i>L<sub>yhqf</sub></i></p></td>
                    <td ><input type="text" name="lyhqf" /></td>
                    <td >m</td>
                </tr>
            </table>
        </div>
        <div style="width:400px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>7.前撑杆连接轴校核相关参数</b></td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>
                <tr>
                    <td ><b>前撑杆连接轴的直径</b></td>
                    <td ><p><i>D<sub>1</sub></i></p></td>
                    <td ><input type="text" name="dd1" /></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>前撑杆连接轴的截面积</b></td>
                    <td ><p><i>A<sub>ja</sub></i></p></td>
                    <td ><input type="text" name="aja" /></td>
                    <td >mm<sup>2</sup></td>
                </tr>
                <tr>
                    <td ><b>前撑杆连接轴的抗弯模量</b></td>
                    <td ><p><i>W<sub>jax</sub></i></p></td>
                    <td ><input type="text" name="wjax" /></td>
                    <td >mm<sup>3</sup></td>
                </tr>
                <tr>
                    <td ><b>前撑杆连接轴单个铜套的长度</b></td>
                    <td ><p><i>l<sub>jat</sub></i></p></td>
                    <td ><input type="text" name="ljat" /></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>前撑杆连接轴孔处板的宽度</b></td>
                    <td ><p><i>l<sub>jab</sub></i></p></td>
                    <td ><input type="text" name="ljab" /></td>
                    <td >mm</td>
                </tr>
                <tr>
                    <td ><b>前撑杆连接轴孔的直径</b></td>
                    <td ><p><i>D<sub>2</sub></i></p></td>
                    <td ><input type="text" name="dd2" /></td>
                    <td >mm</td>
                </tr>
            </table>
        </div>
        <div style="display: none">
            <input type="text" name="ljdhzf" />
            <input type="text" name="dcgssp" />
            <input type="text" name="grugssp" />
            <input type="text" name="lbtzh" />
            <input type="text" name="ldcgh" />
            <input type="text" name="ldslzh" />
        </div>
        <div style="width:1220px;text-align: center;font-size: 14px;background-color: #aaa;padding: 10px 0 10px 0;"><b> </b></div>
        <!--<div style="width:1220px;height:350px;text-align: center;font-size: 14px;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">-->
            <!--<img alt="所选轨道钢型截面示意图" id="gdtu" height="300px"  name="gdtu">-->

        <!--</div>-->
        <div style="width:600px;">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>8.工作状态擦窗机各部件载荷</b></td>
                </tr>
                <div style="width:600px;height:350px;text-align: center;font-size: 14px;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                    <img alt="工作状态擦窗机各部件载荷示意图" id="yzjgtu1" height="300px"  name="yzjgtu1">
                </div>
                <tr>
                    <td>工作状态载荷示意图</td>
                    <td colspan="4">
                        <input type="file" style="height:40px ;line-height: 40px;" accept="image/*" name="yzjgtu1" oninput="showImage(this,'yzjgtu1')"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>
                <tr>
                    <td>吊船自重</td>
                    <td><p><i>S<sub>wp</sub></i></p></td>
                    <td><input type='text' name="swp"/></td>
                    <td>kg</td>
                </tr>

                <tr>
                    <td>吊船额定载重量</td>
                    <td><p><i>R<sub>1</sub></i></p></td>
                    <td><input type='text' name="r1"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>吊船钢丝绳自重</td>
                    <td><p><i>M<sub>wr</sub></i></p></td>
                    <td><input type='text' name="mwr"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>防风背包自重</td>
                    <td><p><i>m<sub>ffbb</sub></i></p></td>
                    <td><input type='text' name="mffbb"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>总悬挂载荷</td>
                    <td><p><i>T<sub>sl</sub></i></p></td>
                    <td><input type='text' name="tsl"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构额定载重量</td>
                        <td><p><i>H<sub>wll</sub></i></p></td>
                    <td><input type='text' name="hwll"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td colspan="4"><input style="color: white;" type='text' name="grutstx"/></td>
                </tr>
                <tr>
                    <td>物料起升机构钢丝绳自重</td>
                    <td><p><i>H<sub>sw</sub></i></p></td>
                    <td><input type='text' name="hsw"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构总悬挂载荷</td>
                    <td><p><i>T<sub>shl</sub></i></p></td>
                    <td><input type='text' name="tshl"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>臂头自重</td>
                    <td><p><i>m<sub>1</sub></i></p></td>
                    <td><input type='text' name="m1"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构导绳架自重</td>
                    <td><p><i>m<sub>2</sub></i></p></td>
                    <td><input type='text' name="m2"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>重锤自重</td>
                    <td><p><i>m<sub>3</sub></i></p></td>
                    <td><input type='text' name="m3"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>大臂自重</td>
                    <td><p><i>m<sub>4</sub></i></p></td>
                    <td><input type='text' name="m4"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构装置自重</td>
                    <td><p><i>m<sub>5</sub></i></p></td>
                    <td><input type='text' name="m5"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>伸缩液压缸自重</td>
                    <td><p><i>m<sub>6</sub></i></p></td>
                    <td><input type='text' name="m6"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>配重自重</td>
                    <td><p><i>m<sub>7</sub></i></p></td>
                    <td><input type='text' name="m11"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>其它I</td>
                    <td><p><i>m<sub>8</sub></i></p></td>
                    <td><input type='text' name="m20"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>其它II</td>
                    <td><p><i>m<sub>9</sub></i></p></td>
                    <td><input type='text' name="m21"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>工作状态仰柱机构上方重量之和</td>
                    <td><p><i>m<sub>yzs</sub></i></p></td>
                    <td><input type='text' name="myzs"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>非工作状态仰柱机构上方重量之和</td>
                    <td><p><i>m<sub>yzsf</sub></i></p></td>
                    <td><input type='text' name="myzsf"/></td>
                    <td>kg</td>
                </tr>
              </table>
        </div>

        <div style="width:600px;margin-left: 10px">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>9.工作状态各部件重心至铰支点D的距离</b></td>
                </tr>
                <div style="width:600px;height:350px;text-align: center;font-size: 14px;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                    <img alt="工作状态各部件重心至铰支点D的距离示意图" id="yzjgtu2" height="300px"  name="yzjgtu2">
                </div>
                 <tr>
                    <td>工作状态距离意图</td>
                    <td colspan="4">
                        <input type="file" style="height:40px ;line-height: 40px;" accept="image/*" name="yzjgtu2" oninput="showImage(this,'yzjgtu2')"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>

                <tr>
                    <td>总悬挂载荷至铰支点D的距离</td>
                    <td><p><i>L<sub>sljd</sub></i></p></td>
                    <td><input type='text' name="lsljd"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>物料起升机构总悬挂载荷至铰支点D的距离</td>
                    <td><p><i>L<sub>shljd</sub></i></p></td>
                    <td><input type='text' name="lshljd"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>臂头至铰支点D的距离</td>
                    <td><p><i>L<sub>jd1</sub></i></p></td>
                    <td><input type='text' name="ljd1"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>物料起升机构导绳架至铰支点D的距离</td>
                    <td><p><i>L<sub>jd2</sub></i></p></td>
                    <td><input type='text' name="ljd2"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>重锤至铰支点D的距离</td>
                    <td><p><i>L<sub>jd3</sub></i></p></td>
                    <td><input type='text' name="ljd3"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>大臂至铰支点D的距离</td>
                    <td><p><i>L<sub>jd4</sub></i></p></td>
                    <td><input type='text' name="ljd4"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>物料起升机构装置至铰支点D的距离</td>
                    <td><p><i>L<sub>jd5</sub></i></p></td>
                    <td><input type='text' name="ljd5"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>伸缩液压缸至铰支点D的距离</td>
                    <td><p><i>L<sub>jd6</sub></i></p></td>
                    <td><input type='text' name="ljd6"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>配重至铰支点D的距离</td>
                    <td><p><i>L<sub>jd7</sub></i></p></td>
                    <td><input type='text' name="ljd11"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>其它I至铰支点D的距离</td>
                    <td><p><i>L<sub>jd8</sub></i></p></td>
                    <td><input type='text' name="ljd20"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>其它II至铰支点D的距离</td>
                    <td><p><i>L<sub>jd9</sub></i></p></td>
                    <td><input type='text' name="ljd21"/></td>
                    <td>m</td>
                </tr>
            </table>
        </div>
        <div style="width:600px;margin-left: 10px">
            <table>
                <tr>
                    <td colspan="5" style="background-color: #aaa;padding: 10px 0 10px 0"><b>10.非工作状态各部件重心至铰支点D的距离</b></td>
                </tr>
                <div style="width:600px;height:350px;text-align: center;font-size: 14px;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                    <img alt="非工作状态各部件重心至铰支点D的距离示意图" id="yzjgtu3" height="300px"  name="yzjgtu3">
                </div>
                <tr>
                    <td>非工作状态距离意图</td>
                    <td colspan="4">
                        <input type="file" style="height:40px ;line-height: 40px;" accept="image/*" name="yzjgtu3" oninput="showImage(this,'yzjgtu3')"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                    <td style="width:17%;">符号</td>
                    <td style="width:40%;">数值</td>
                    <td style="width:17%;">单位</td>
                </tr>
                <tr>
                    <td>臂头至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf1</sub></i></p></td>
                    <td><input type='text' name="ljdf1"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>物料起升机构导绳架至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf2</sub></i></p></td>
                    <td><input type='text' name="ljdf2"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>重锤至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf3</sub></i></p></td>
                    <td><input type='text' name="ljdf3"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>大臂至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf4</sub></i></p></td>
                    <td><input type='text' name="ljdf4"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>物料起升机构装置至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf5</sub></i></p></td>
                    <td><input type='text' name="ljdf5"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>伸缩液压缸至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf6</sub></i></p></td>
                    <td><input type='text' name="ljdf6"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>配重至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf7</sub></i></p></td>
                    <td><input type='text' name="ljdf11"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>其它I至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf8</sub></i></p></td>
                    <td><input type='text' name="ljdf20"/></td>
                    <td>m</td>
                </tr>
                <tr>
                    <td>其它II至铰支点D的距离</td>
                    <td><p><i>L<sub>jdf9</sub></i></p></td>
                    <td><input type='text' name="ljdf21"/></td>
                    <td>m</td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="pdfType"/>
    </form>

        <div class="navbox">
            <div style="width:460px;height:520px; font-size: 14px   ;">
                <table id="pdf3tb">
                    <tr>
                        <td colspan="5" style="padding: 10px 0 10px 0;background-color: #aaa;"><b>核算结果</b></td>
                    </tr>
                    <tr>
                        <td style="width:40%;"><b>名称</b></td>
                        <td style="width:30%;"><b>是否满足要求</b></td>
                    </tr>
                    <tr>
                        <td><b>工作状态液压缸推力校核</b></td>
                        <td id="u1"></td>
                    </tr>
                    <tr>
                        <td><b>非工作状态液压缸推力校核</b></td>
                        <td id="u2"></td>
                    </tr>
                    <tr>
                        <td><b>工作状态仰柱机构前撑杆稳定性校核</b></td>
                        <td id="u3"></td>
                    </tr>
                    <tr>
                        <td><b>非工作状态仰柱机构前撑杆稳定性校核</b></td>
                        <td id="u4"></td>
                     </tr>
                    <tr>
                        <td><b>前撑杆连接轴弯曲应力校核</b></td>
                        <td id="u5"></td>
                     </tr>
                    <tr>
                        <td><b>前撑杆连接轴剪切应力校核</b></td>
                        <td id="u6"></td>
                    </tr>
                    <tr>
                        <td><b>前撑杆连接轴合成应力校核</b></td>
                        <td id="u7"></td>
                      </tr>
                    <tr>
                        <td><b>前撑杆连接轴与前撑杆接触应力校核</b></td>
                        <td id="u8"></td>
                     </tr>
                 </table>
                <div style="margin: 0 150px 0;">
                    <input type="submit"  class="button" type="submit" value="校验" onclick="return janyan()"/>
                </div>
            </div>
        </div>
    </div>
    <div class="buttonbox">
        <input type="submit" form="form1" class="button" value="保存数据"
               onclick="isCheck(false);$('form').attr('action','saveValue')"/>
        <input type="submit" form="form1" class="button"  value="导出仰柱机构pdf" onclick="$('form').attr('action','UprightMechanism/getPDF');
                                                                                            isCheck(false);changeType('Calculation')"/>
        <input type="submit" form="form1" class="button"  value="导出检验pdf" onclick="$('form').attr('action','UprightMechanism/getPDF');
                                                                                            isCheck(true);changeType('Check')"/>
        <input type="reset" form="form1" value="重置" onclick="$('#pdf3tb td[id]').text('').css('background-color','#aaa')"/>
    </div>

<script>
    function changeType(l){
        var e = $('input[name=pdfType]');
        if (e.length == 0) {
            $('form').append('<input name="pdfType" type="hidden"/>');
        }
        e = $('input[name=pdfType]');
        e.val(l);
    }
    var calculateFunction={

        grutstx: function () {
            if ( gruModel == "GRU285" ) {
                $('[name=grutstx]').prop('disabled', true)
                data.datalist['grutstx'].color = 'white';
                return '物料起升机构极限额定载重量为500kg';
            } else if ( gruModel == "GRU295" ) {
                $('[name=grutstx]').prop('disabled', true)
                data.datalist['grutstx'].color = 'white';
                return '物料起升机构极限额定载重量为750kg';
            } else if ( gruModel == "GRU313" ) {
                $('[name=grutstx]').prop('disabled', true)
                data.datalist['grutstx'].color = 'white';
                return '物料起升机构极限额定载重量为1000kg';
            } else if ( gruModel == "无" ) {
                $('[name=grutstx]').prop('disabled', true)
                data.datalist['grutstx'].color = 'white';
                return '无';
            }
        },

        yzdd:function(){
            return yzjgModelList[ yzjgModel ]['yzdd'];
        },
        yzxd:function(){
            return yzjgModelList[ yzjgModel ]['yzxd'];
        },
        yzlltl:function(){
            return yzjgModelList[ yzjgModel ]['yzlltl'];
        },
        yzgcyl:function(){
            return yzjgModelList[ yzjgModel ]['yzgcyl'];
        },
        ljdhzf:function(){
            return yzjgModelList[ yzjgModel ]['ljdhzf'];
        },
        ljdc:function(){
            return yzjgModelList[ yzjgModel ]['ljdc'];
        },
        ljcyy:function(){
            return yzjgModelList[ yzjgModel ]['ljcyy'];
        },
        lyhq:function(){
            return yzjgModelList[ yzjgModel ]['lyhq'];
        },
        ljdcf:function(){
            return yzjgModelList[ yzjgModel ]['ljdcf'];
        },
        ljcyyf:function(){
            return yzjgModelList[ yzjgModel ]['ljcyyf'];
        },
        lyhqf:function(){
            return yzjgModelList[ yzjgModel ]['lyhqf'];
        },
        lyg:function(){
            return yzjgModelList[ yzjgModel ]['lyg'];
        },
        hyg:function(){
            return yzjgModelList[ yzjgModel ]['hyg'];
        },
        byg:function(){
            return yzjgModelList[ yzjgModel ]['byg'];
        },
        eyg:function(){
            return yzjgModelList[ yzjgModel ]['eyg'];
        },
        ayg:function(){
            return yzjgModelList[ yzjgModel ]['ayg'];
        },
        iiminyg:function(){
            return yzjgModelList[ yzjgModel ]['iiminyg'];
        },
        dd1:function(){
            return yzjgModelList[ yzjgModel ]['dd1'];
        },
        ljat:function(){
            return yzjgModelList[ yzjgModel ]['ljat'];
        },
        ljab:function(){
            return yzjgModelList[ yzjgModel ]['ljab'];
        },
        dd2:function(){
            return yzjgModelList[ yzjgModel ]['dd2'];
        },
        aja:function(){
            return 3.14 * dd1 * dd1 / 4 ;
        },
        wjax:function(){
            return 3.14 * dd1 * dd1 * dd1 / 32 ;
        },
        dcgssp:function(){
            return dcgssModelList[ dcgssModel ]['dcgssp'];
        },
        grugssp:function(){
            return gruModelList[ gruModel ]['grugssp'];
        },
        lbtzh:function(){
            return btModelList[ btModel ]['lbtzh'];
        },
        ldcgh:function(){
            return btModelList[ btModel ]['ldcgh'];
        },
        ldslzh:function(){
            return btModelList[ btModel ]['ldslzh'];
        },
        swp:function(){
            return dcModelList[ dcModel ]['swp'];
        },
        r1:function(){
            return dcModelList[ dcModel ]['r1'];
        },
        mwr:function(){
            return h * dcgssp * 4 ;
        },
        mffbb:function(){
            return ffbbModelList[ ffbbModel ]['mffbb'];
        },
        tsl:function (){
            return swp + r1 + mwr + mffbb ;
        },
        hsw:function(){
            return h * grugssp ;
        },
        tshl:function(){
            return hwll + hsw ;
        },
        m1:function(){
            return btModelList[ btModel ]['m1'];
        },
        m2:function(){
            return gruModelList[ gruModel ]['m2'];
        },
        m3:function(){
            return  25  ;
        },
        m5:function(){
            return gruModelList[ gruModel ]['m5'];
        },
        myzs:function(){
            return tsl + tshl + m1 + m2 + m3 + m4 + m5 + m6 + m11 + m20 + m21;
        },
        myzsf:function(){
            return m1 + m2 + m3 + m4 + m5 + m6 + m11 + m20 + m21;
        },
        lsljd:function(){
            return lbd ;
        },
        lshljd:function(){
            return lbd - ( ldcgh - lbtzh ) ;
        },
        ljd1:function(){
            return lshljd ;
        },
        ljd2:function(){
            if( m2 === 0 ){
               return 0 ;
            }else {
                return lbd - ( ldcgh - ldslzh ) ;
            }
        },
        ljd3:function(){
            return lshljd ;
        },
        ljd5:function(){
            if( m5 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        ljd6:function(){
            if( m6 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        ljd11:function(){
            return lbp ;
        },
        ljd20:function(){
            if( m20 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        ljd21:function(){
            if( m21 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        ljdf1:function(){
            return lbx - ( ldcgh - lbtzh ) - ljdhzf ;
        },
        ljdf2:function(){
            if( m2 === 0 ){
                return 0 ;
            }else {
                return lbx - ( ldcgh - ldslzh ) - ljdhzf ;
            }
        },
        ljdf3:function(){
            return ljdf1 ;
        },
        ljdf5:function(){
            return ljd5 ;
        },
        ljdf6:function(){
            if( m6 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        ljdf11:function(){
            return ljd11 ;
        },
        ljdf20:function(){
            if( m20 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        },
        ljdf21:function(){
            if( m21 === 0 ){
                return 0 ;
            }else {
                return ' ' ;
            }
        }
    };
    data.init(calculateFunction);
</script>
</body>
</html>