<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <title>钢丝绳计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{js/jquery-1.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui-1.8.16.custom.min.js}"></script>
    <link th:href="@{css/page.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre.min.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre2.min.css}" rel="stylesheet"/>
    <link th:href="@{css/base.min.css}" rel="stylesheet"/>
    <link th:href="@{css/public_offline.css}" rel="stylesheet"/>
    <style type="text/css">
        input {
            width: 150px;
            height: 12px;
        }

        .mynone {
            display: none;
        }

        p {
            font-size: 17px;
        }

        b {
            letter-spacing: 1px;
            line-height: normal;
        }

        .main {
            margin: 20px auto 100px;
            width: 1150px;
            background-color: #EFF3F6;
            font-size: 0;
            border: 1px solid black;
        }

        .boxform {
            margin: auto;
            width: 1135px;
            display: block;
            font-size: 0;
            padding: 10px 0 10px 0;
        }

        .subtable {
            display: inline-block;
            font-size: 14px;
            margin: 5px;
            vertical-align: top;
            width: 556px;
        }

        td {
            border: 1px solid #000;
            text-align: center;
            line-height: 14px;
            height: 20px;
        }

        tr {
            height: 20px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        sub, sup {
            font-size: 14px;
            margin: 1px;
        }

        .tb {
            border-radius: 5px;
            width: 100%;
            background-color: #EFF3F6;
        }

        input {
            height: 20px;
            width: 92%;
            border: 0;
            text-align: center;
        }

        .buttonbox {
            bottom: 5px;
            right: 5px;
            display: block;
            position: fixed;
            margin-bottom: 5px;
            font-size: 14px;
        }

        .buttonbox input {
            background-color: #ccc;
            display: block;
            width: 170px;
            height: 50px;
            margin: 3px;
            border-radius: 25px;
        }

        .navbox input {
            background-color: #ccc;
            display: block;
            width: 150px;
            height: 50px;
            margin: 5px;
            border-radius: 25px;
        }

        .navbox {
            top: 50%;;
            right: 10px;
            display: block;
            position: fixed;
            margin-top: -160px;
            font-size: 16px;
        }

        .navbox td {
            padding: 0.4em 0.8em;
        }

        .tabletitle {
            display: block;
            font-size: 30px;
            margin: 10px 0 10px 0;
            text-align: center;
            line-height: 30px;
        }
    </style>
    <script th:src="@{js/dataClass.js}"></script>
</head>
<body>
<nav class="navbar navbar-default" role="head" th:replace="head"></nav>
<br/><br/>
<div class="main">
    <iframe style="display: none" name="stop" src="about:blank"></iframe>
    <form th:id="form1" opType="#" target="stop" method="post" id="form1" class="boxform"
          th:opType="@{/WireRope}" th:object="${WireRopeEntity}">
        <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">钢丝绳安全系数校核计算书</div>

        <!--封面内容-->
        <div class="subtable">
            <table class="tb">
                <tr>
                    <td colspan="6" style="background-color: #aaa;padding: 10px 0 10px 0">1.封面内容</td>
                </tr>
                <tr>
                    <td style="width:40%;padding:10px 0;;padding:10px 0;;">项目批令号/方案编号</td>
                    <td style="width:40%;">
                        <input name="sjht" type="text" list="txtBatchId"/>
                        <datalist id="txtBatchId">
                        </datalist>
                    </td>
                    <td style="width:20%;"><input type="button" name="getData" value="读取"/></td>
                    <script>
                        $('input[name="getData"]').click(function () {
                                var url = '/WireRope/getData';
                                var id = $('input[name="sjht"]').val();
                                getData.geteDataFromDB(url, id)
                            }
                        )
                    </script>
                </tr>
                <tr>
                    <td style="width:50%;padding:10px 0;;padding:10px 0;;">名称</td>
                    <td style="width:50%;" colspan="2">内容</td>
                </tr>
                <tr>
                    <td>本机计算书编号</td>
                    <td  colspan="2"><input name="no" type="text" th:field="*{no}"/></td>
                </tr>
                <tr>
                    <td>本机版本</td>
                    <td  colspan="2"><input name="ver" type="text" th:field="*{ver}"/></td>
                </tr>
                <tr>
                    <td>项目名称</td>
                    <td  colspan="2"><input name="xmmc" type="text" th:field="*{xmmc}"/></td>
                </tr>
                <tr>
                    <td>主机型号</td>
                    <td  colspan="2"><input name="zjxh" type="text" th:field="*{zjxh}"/></td>
                </tr>
                <tr>
                    <td>计算人</td>
                    <td  colspan="2"><input name="jsr" type="text" th:field="*{jsr}"/></td>
                </tr>
                <tr>
                    <td>审核人</td>
                    <td  colspan="2"><input name="shr" type="text" th:field="*{shr}"/></td>
                </tr>
                <tr>
                    <td>批准人</td>
                    <td  colspan="2"><input name="pzr" type="text" th:field="*{pzr}"/></td>
                </tr>
                <tr>
                    <td>计算日期</td>
                    <td colspan="2"> <input name="date" type="text" th:field="*{date}"/></td>
                </tr>
            </table>
        </div>
        <div class="subtable">
            <table class="tb">
                <tr>
                    <td colspan="6" style="background-color: #aaa;padding: 10px 0 10px 0">3.计算钢丝绳安全系数相关参数</td>
                </tr>
                <tr>
                    <td width="47%">起升高度</td>
                    <td width="10%"><p><i>h</i></p></td>
                    <td width="35%"><input id="h" name="h" type="text" th:field="*{h}"/></td>
                    <td width="8%">m</td>
                </tr>
                <tr>
                    <td>吊船自重</td>
                    <td><p><i>S<sub>wp</sub></i></p></td>
                    <td><input id="swp" name="swp" type="text" th:field="*{swp}"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>吊船额定载荷</td>
                    <td><p><i>R<sub>1</sub></i></p></td>
                    <td><input id="r1" name="r1" type="text" th:field="*{r1}"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>吊船钢丝绳自重</td>
                    <td><p><i>M<sub>wr</sub></i></p></td>
                    <td><input id="mwr" name="mwr" type="text" th:field="*{mwr}"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>总悬挂载荷</td>
                    <td><p><i>T<sub>sl</sub></i></p></td>
                    <td><input id="tsl" name="tsl" type="text" th:field="*{tsl}"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构额定载重量</td>
                    <td><p><i>H<sub>wll</sub></i></p></td>
                    <td><input id="hwll" name="hwll" type="text" th:field="*{hwll}"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构钢丝绳自重</td>
                    <td><p><i>H<sub>sw</sub></i></td>
                    <td><input id="hsw" name="hsw" type="text" th:field="*{hsw}"/></td>
                    <td>kg</td>
                </tr>
                <tr>
                    <td>物料起升机构总悬挂载荷</td>
                    <td><p><i>T<sub>shl</sub></i></td>
                    <td><input id="tshl" name="tshl" type="text" th:field="*{tshl}"/></td>
                    <td>kg</td>
                </tr>
            </table>

        </div>
        <div class="subtable">
            <table class="tb">
                <tr>
                    <td colspan="6" style="background-color: #aaa;padding: 10px 0 10px 0">2.所选钢丝绳相关参数</td>
                </tr>
                <tr>
                    <td colspan="1" style="background-color: #aaa;padding: 10px 0 10px 0">吊船钢丝绳型号选择</td>
                    <td colspan="3" style="font-size: 14px">
                        <select id="select1" name="typeOfShipWireRope"
                                style="width:100%;height:40px;text-align-last:center">
                            <option style="display: none"></option>
                            <option value="Ф7">Ф7</option>
                            <option value="Ф8">Ф8</option>
                            <option value="Ф10">Ф10</option>
                            <option value="Ф13">Ф13</option>
                            <option value="布鲁格Ф7">布鲁格Ф7</option>
                            <option value="布鲁格Ф8">布鲁格Ф8</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="background-color: #aaa;padding: 10px 0 10px 0">物料起升机构钢丝绳型号选择</td>
                    <td colspan="3" style="font-size: 14px">
                        <select id="select2" name="typeOfMaterielWireRope"
                                style="width:100%;height:40px;text-align-last:center">
                            <option style="display: none"></option>
                            <option value="Ф8">Ф8</option>
                            <option value="Ф8.3">Ф8.3</option>
                            <option value="Ф10">Ф10</option>
                            <option value="Ф13">Ф13</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="47%">吊船钢丝绳型号</td>
                    <td width="10%"><p><i></i></p></td>
                    <td width="35%"><input id="dcgssxh" name="dcgssxh" type="text"/></td>
                    <td width="8%"></td>
                </tr>
                <tr>
                    <td>吊船钢丝绳直径</td>
                    <td><p><i>d1</i></p></td>
                    <td><input id="dcgssd" name="dcgssd" type="text"/></td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>吊船钢丝绳数量</td>
                    <td><p><i>N<sub>1</sub></i></p></td>
                    <td><input id="dcgssn" name="dcgssn" type="text"/></td>
                    <td>根</td>
                </tr>
                <tr>
                    <td>单根吊船钢丝绳最小破断拉力</td>
                    <td><p><i>F<sub>1</sub></i></p></td>
                    <td><input id="dcgssf" name="dcgssf" type="text"/></td>
                    <td>kN</td>
                </tr>
                <tr>
                    <td>单根吊船钢丝绳每米重量</td>
                    <td><p><i>p<sub>1</sub></i></p></td>
                    <td><input id="dcgssp" name="dcgssp" type="text"/></td>
                    <td>kg/m</td>
                </tr>
                <tr>
                    <td>物料起升机构钢丝绳型号</td>
                    <td><p><i></i></p></td>
                    <td><input id="grugssxh" name="grugssxh" type="text"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td>物料起升机构钢丝绳直径</td>
                    <td><p><i>d2</i></p></td>
                    <td><input id="grugssd" name="grugssd" type="text"/></td>
                    <td>mm</td>
                </tr>
                <tr>
                    <td>物料起升机构钢丝绳数量</td>
                    <td><p><i>N<sub>2</sub></i></p></td>
                    <td><input id="grugssn" name="grugssn" type="text"/></td>
                    <td>根</td>
                </tr>
                <tr>
                    <td>单根物料起升机构钢丝绳最小破断拉力</td>
                    <td><p><i>F<sub>2</sub></i></p></td>
                    <td><input id="grugssf" name="grugssf" type="text"/></td>
                    <td>kN</td>
                </tr>
                <tr>
                    <td>单根物料起升机构钢丝绳每米重量</td>
                    <td><p><i>p<sub>2</sub></i></p></td>
                    <td><input id="grugssp" name="grugssp" type="text"/></td>
                    <td>kg/m</td>
                </tr>
            </table>
        </div>
        <div class="subtable" style="width:550px">
            <table class="tb" style="width:550px">
                <tr>
                    <td colspan="6" style="background-color: #aaa;padding: 10px 0 10px 0">4.校验</td>
                </tr>
                <tr>
                    <td width="35%" style="height:50px">名称</td>
                    <td width="23%">实际安全系数</td>
                    <td width="18%">规定安全系数</td>
                    <td width="23%">是否满足要求</td>
                </tr>
                <tr class="diaochuan">
                    <td style="height:50px">吊船钢丝绳安全系数校核</td>
                    <td id="zp1p"></td>
                    <td>12</td>
                    <td id="gssm1"></td>
                </tr>
                <tr class="wuliaoqishengjigou">
                    <td style="height:50px">物料起升机构钢丝绳安全系数校核</td>
                    <td id="zp2p"></td>
                    <td>6</td>
                    <td id="gssm2"></td>
                </tr>
            </table>
            <div class="buttonbox" style="position: relative;width: 550px">
                <input type="submit" class="button" type="submit" value="校验" style="width:250px;margin: 30px auto 0;"
                       onclick="return janyan('WireRope/jy')"/>
            </div>
        </div>
    </form>
</div>
<script>
    (function () {
        $('[name=typeOfShipWireRope]').change(function () {
            var t = ['swp', 'r1', 'mwr', 'tsl', 'dcgssxh', 'dcgssd', 'dcgssn', 'dcgssf', 'dcgssp',]
            var typeOfShipWireRope = $('[name=typeOfShipWireRope]').val();
            for (var i in t) {
                if (typeOfShipWireRope == '无') {
                    $('.diaochuan').css('display','none');
                    $('[name=' + t[i] + ']').prop('readonly', true);
                    data.datalist[t[i]].color = 'rgb(227, 227, 227)';
                } else if($('[name=' + t[i] + ']').prop('readonly')){
                    $('[name=' + t[i] + ']').prop('readonly', false);
                        data.datalist[t[i]].color = 'white';
                    $('.diaochuan').css('display','table-row');

                }
            }
        })
        $('[name=typeOfMaterielWireRope]').change(function () {
            var t = ['hwll', 'hsw', 'tshl','grugssxh', 'grugssd', 'grugssn', 'grugssf', 'grugssp']
            var typeOfMaterielWireRope = $('[name=typeOfMaterielWireRope]').val();
            for (var i in t) {
                if (typeOfMaterielWireRope == '无') {
                    $('[name=' + t[i] + ']').prop('readonly', true);
                    data.datalist[t[i]].color = 'rgb(227, 227, 227)';
                    $('.wuliaoqishengjigou').css('display','none');
                } else if($('[name=' + t[i] + ']').prop('readonly')) {
                    $('[name=' + t[i] + ']').prop('readonly', false);
                    if(data.datalist[t[i]].color!='white')
                        data.datalist[t[i]].color = 'white';
                    $('.wuliaoqishengjigou').css('display','table-row');

                }
            }
        })
    })()

    function getPDF(URL) {
        if ($("[name=typeOfShipWireRope]").val() == "无" && $("[name=typeOfMaterielWireRope]").val() == "无") {
            alert("请选择吊船或者GRU");
            return false;
        }
        $('#form1').attr('action', URL);
    }

    calculateFunction = {
        mwr: function () {
            if ($('[name=mwr]').prop('readonly'))
                return null;
            return h * dcgssp * dcgssn ;
        },
        tsl: function () {
            if ($('[name=tsl]').prop('readonly'))
                return null;
            return swp + r1 + mwr ;
        },
        hsw: function () {
            if ($('[name=hsw]').prop('readonly'))
                return null;
            return h * grugssp * grugssn ;
        },
        tshl: function () {
            if ($('[name=tshl]').prop('readonly'))
                return null;
            return hwll + hsw ;
        },
        dcgssxh: function () {
            if ($('[name=dcgssxh]').prop('readonly'))
                return null;
            return typeOfShipWireRope ;
        },
        dcgssd: function () {
            switch ( typeOfShipWireRope ) {
                case 'Ф7'    :
                    return 7;
                case 'Ф8'    :
                    return 8;
                case 'Ф10'   :
                    return 10;
                case 'Ф13'   :
                    return 13;
                case '布鲁格Ф7':
                    return 7;
                case '布鲁格Ф8':
                    return 8;
            }
        },
        dcgssf: function () {
            switch ( typeOfShipWireRope ) {
                case 'Ф7'    :
                    return 26;
                case 'Ф8'    :
                    return 37;
                case 'Ф10'   :
                    return 61;
                case 'Ф13'   :
                    return 83;
                case '布鲁格Ф7':
                    return 28.1;
                case '布鲁格Ф8':
                    return 36.8;
            }
        },
        dcgssp: function () {
            switch ( typeOfShipWireRope ) {
                case 'Ф7'    :
                    return 0.179;
                case 'Ф8'    :
                    return 0.244;
                case 'Ф10'   :
                    return 0.391;
                case 'Ф13'   :
                    return 0.65;
                case '布鲁格Ф7':
                    return 0.179;
                case '布鲁格Ф8':
                    return 0.217;
            }
        },
        grugssxh: function () {
            return typeOfMaterielWireRope ;
        },
        grugssd: function () {
            switch ( typeOfMaterielWireRope ) {
                case 'Ф8'  :
                    return 8;
                case 'Ф8.3':
                    return 8.3;
                case 'Ф10' :
                    return 10;
                case 'Ф13' :
                    return 13;
            }
        },
        grugssf: function () {
            switch ( typeOfMaterielWireRope ) {
                case 'Ф8'  :
                    return 39;
                case 'Ф8.3':
                    return 58;
                case 'Ф10' :
                    return 61;
                case 'Ф13' :
                    return 83;
            }
        },
        grugssp: function () {
            switch ( typeOfMaterielWireRope ) {
                case 'Ф8'  :
                    return 0.252;
                case 'Ф8.3':
                    return 0.255;
                case 'Ф10' :
                    return 0.391;
                case 'Ф13' :
                    return 0.65;
            }
        },
    }

    data.init(calculateFunction);
    (function () {
        InitNav(1);
        $('#WireRope').addClass('o-sub-cur');
    })()
</script>
<div class="buttonbox">
    <input class="button" form="form1" type="submit" value="输出钢丝绳计算书" onclick="getPDF('/WireRopePDF1')"/>
    <input class="button" form="form1" type="submit" value="输出检验计算书" onclick="getPDF('/WireRopePDF2')"/>
    <input class="button" form="form1" type="reset" onclick="data.clear()" value="重置"/>
</div>
</body>
</html>