<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <title>钢丝绳计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{js/jquery-1.7.1.min.js}"></script>
    <script th:src="@{js/jquery-ui-1.8.16.custom.min.js}"></script>
    <link th:href="@{css/page.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre.min.css}" rel="stylesheet"/>
    <link th:href="@{css/kolibre2.min.css}" rel="stylesheet"/>
    <link th:href="@{css/base.min.css}" rel="stylesheet"/>
    <link th:href="@{css/public_offline.css}" rel="stylesheet"/>
    <style type="text/css">
        input {
            width: 150px;
            height: 12px;
        }
    </style>
    <script type="text/javascript">
        function isNumber(value) {         //验证是否为数字
            var patrn = /^(-)?\d+(\.\d+)?$/;
            if (patrn.exec(value) == null || value == "") {
                return false
            } else {
                return true
            }
        }

        function checkinput(form) {
            return true;
        }

        function setActionType(type) {
            $("#hidActionType").val(type);
        }

        $(document).ready(function () {
            InitNav(1)
            $('#WireRope').addClass('o-sub-cur');
        });

    </script>
</head>
<body>
<nav class="navbar navbar-default" role="head" th:include="head"></nav>
<br/><br/>

<form th:id="form1" opType="#" th:opType="@{/WireRope}" th:object="${WireRopeEntity}"
      method="post" onsubmit="return checkinput(this)">
    封面内容
    <div ><div class="fill-list-lb" style="width: 5px">1</div>
        <div class="fill-list-lb" style="width: 170px">编号：</div>
        <div class="fill-list-cont"><input name="bh" type="text" th:field="*{bh}"/>  </div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">2</div>
        <div class="fill-list-lb" style="width: 170px">版本：</div>
        <div class="fill-list-cont"><input name="bb" type="text" th:field="*{bb}"/>  </div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">3</div>
        <div class="fill-list-lb" style="width: 170px">项目名称：</div>
        <div class="fill-list-cont"><input name="xmmc" type="text" th:field="*{xmmc}"/>  </div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">4</div>
        <div class="fill-list-lb" style="width: 170px">计算人：</div>
        <div class="fill-list-cont"><input name="jsr" type="text" th:field="*{jsr}"/>  </div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">5</div>
        <div class="fill-list-lb" style="width: 170px">审核人：</div>
        <div class="fill-list-cont"><input name="shr" type="text" th:field="*{shr}"/>  </div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">6</div>
        <div class="fill-list-lb" style="width: 170px">计算日期：</div>
        <div class="fill-list-cont"><input name="jsrq" type="text" th:field="*{jsrq}"/>  </div>
    </div>
    主要参数
    <div><div class="fill-list-lb" style="width: 5px">7</div>
        <div class="fill-list-lb" style="width: 170px">起升高度：</div>
        <div class="fill-list-cont"><input name="h" type="text" th:field="*{h}"/>m</div>
    </div>

    <div><div class="fill-list-lb" style="width: 5px">8</div>
        <div class="fill-list-lb" style="width: 170px">吊船重量：</div>
        <div class="fill-list-cont"><input name="swp" type="text" th:field="*{swp}"/>kg</div>
    </div>

    <div><div class="fill-list-lb" style="width: 5px">9</div>
        <div class="fill-list-lb" style="width: 170px">吊船额定载重量：</div>
        <div class="fill-list-cont"><input name="rl" type="text" th:field="*{rl}"/>kg</div>
    </div>

    <div><div class="fill-list-lb" style="width: 5px">10</div>
        <div class="fill-list-lb" style="width: 170px">吊船钢丝绳直径：</div>
        <div class="fill-list-cont"><input name="d1" type="text" th:field="*{d1}"/>mm</div>
    </div>

    <div><div class="fill-list-lb" style="width: 5px">11</div>
        <div class="fill-list-lb" style="width: 170px">吊船钢丝绳每米载重：</div>
        <div class="fill-list-cont"><input name="c1" type="text" th:field="*{c1}"/>kg/m</div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">12</div>
        <div class="fill-list-lb" style="width: 170px">吊船钢丝绳最小破断拉力：</div>
        <div class="fill-list-cont"><input name="f1" type="text" th:field="*{f1}"/>kN</div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">13</div>
        <div class="fill-list-lb" style="width: 170px">GRU额定载荷：</div>
        <div class="fill-list-cont"><input name="hwll" type="text" th:field="*{hwll}"/>kg</div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">14</div>
        <div class="fill-list-lb" style="width: 170px">GRU钢丝绳直径：</div>
        <div class="fill-list-cont"><input name="d2" type="text" th:field="*{d2}"/>mm</div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">15</div>
        <div class="fill-list-lb" style="width: 170px">GRU钢丝绳每米重量：</div>
        <div class="fill-list-cont"><input name="c2" type="text" th:field="*{c2}"/>kg/m</div>
    </div>
    <div><div class="fill-list-lb" style="width: 5px">16</div>
        <div class="fill-list-lb" style="width: 170px">GRU钢丝绳最小破断拉力：</div>
        <div class="fill-list-cont"><input name="f2" type="text" th:field="*{f2}"/>kN</div>
    </div>

    <input type="submit" value="输出PDF计算书" onclick="setActionType(1)"/> <input type="reset" value="重置"/>
</form>

</body>
</html>