<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <!--     引入样式 -->
    <link rel="stylesheet" th:href="@{/css/element.css}">
    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/js/element.js}"></script>
    <script type="text/javascript" th:src="@{/js/model.js}"></script>
    <script th:src="@{/js/axios.js}"></script>
    <script  th:src="@{/js/qs.min.js}"></script>

    <script>
        function jumpurl(){
            location='http://www.baidu.com';
        }
        function f(){
            vm.i--;
        }
        function getUrlRelativePath(url)
        {
            var arrUrl = url.split("//");

            var start = arrUrl[1].indexOf("/");
            var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

            if(relUrl.indexOf("?") != -1){
                relUrl= relUrl.split("?")[0];
            }
            return relUrl;
        }
        var vm = new Vue({
            data: {
                asideData: {},
                header: {},
                main: {isreally: false},
                i:10,
                username:"",

            },
            computed:{
                u(){
                    if(this.i==0){
                        jumpurl();
                    }
                }
            },
            methods: {
                objIsEmpty: function (objectName) {
                    if (Object.keys(objectName).length === 0) {
                        return false // 如果为空,返回false
                    }
                    return true;
                },
                f(){
                    console.log(this.i)
                    this.i--;
                },
                getCurrentUserName(){
                    axios.post("/getCurrentUserName").then(
                        e=>{
                        console.log(e.data)
                    this.username=e.data;
                }
                )
                },
                setInvisibleLinks(){
                    axios.get("/getCurrentUserLevel").then(
                        e => {
                        if (typeof e.data === 'number' && !isNaN(e.data )  ) {
                        var invisibleLinks = Array.prototype.slice.call(document.getElementsByClassName("myNav"));
                        if(e.data==1) {
                            axios.get("/getPermitsAboveSuperUser").then(
                                e1 => {
                                console.log(e1.data);
                            console.log(invisibleLinks);
                            for(i=0;i < invisibleLinks.length;i++){
                                for (j = 0; j < e1.data.length; j++) {
                                    if (getUrlRelativePath(invisibleLinks[i].href) == e1.data[j]) {
                                        invisibleLinks[i].style.display = "none";
                                        break;
                                    }
                                }
                            }
                        });
                        }
                        else if(e.data==2){
                            axios.get("/getPermitsAboveAdmin").then(
                                e1 => {
                                for(i=0;i < invisibleLinks.length;i++){
                                for (j = 0; j < e1.data.length; j++) {
                                    if (getUrlRelativePath(invisibleLinks[i].href) == e1.data[j]) {
                                        invisibleLinks[i].style.display = "none";
                                        break;
                                    }
                                }
                            }
                        });
                        }
                        console.log(e.data);
                        console.log("e.data");
                        for(i=0;i<invisibleLinks.length;i++){
                            if(getUrlRelativePath(invisibleLinks[i].href)=='/TempPermission'){
                                if(e.data!=3) {
                                    invisibleLinks[i].style.display = "none";
                                }
                                invisibleLinks[i].target="_blank";
                                break;
                            }
                        }
                    }
                }
                )
                }
            },
            mounted() {
                this.getCurrentUserName();
                this.setInvisibleLinks();
            }
        })
    </script>

    <link rel="stylesheet" th:href="@{/css/home.css}">

    <title>清洗周期计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/jquery-1.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pdf.css}">

    <script th:src="@{/js/dataClass.js}"></script>
</head>

<body>
<div id="app">
    <el-container>
        <el-header id="headerBox" style="width:100%;position: fixed;z-index: 10">
            <!--头元素-->
            <el-row :gutter="20">
                <slot th:include="newHtml/model::header"></slot>
            </el-row>
        </el-header>
        <el-container>
            <el-aside id="aside" height='100%' style="z-index: 5">
                <el-row class="tac">
                    <el-col>
                        <div class="side fixed" id="asideBox">
                            <!--左侧导航栏-->
                            <div th:include="newHtml/model::aside"></div>
                        </div>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <el-row>
                    <div class="main">
                        <iframe style="display: none" name="stop" src="about:blank"></iframe>
                        <form class="boxform" name="form1" id="form1" th:id="form1" opType="#" target="stop" method="post" enctype="multipart/form-data">
                            <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">清洗周期计算书</div>
                            <!- 封面内容 ->
                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td style="width:30%;padding:10px 0;;padding:10px 0;;">项目批令号/方案编号</td>
                                        <td style="width:55%;">
                                            <input type='text' name="sjht" type="text" list="txtBatchId"/>
                                            <datalist id="txtBatchId">
                                            </datalist>
                                        </td>
                                        <td style="width:15%;"><input type="button" name="getData" value="读取"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="background-color: #aaa;padding: 10px 0 10px 0"><b>1.封面内容</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;padding:10px 0;;padding:10px 0;;"><b>名称</b></td>
                                        <td colspan="2" style="width:70%;">内容</td>
                                    </tr>
                                    <tr>
                                        <td ><b>本机计算书编号</b></td>
                                        <td colspan="2" ><input type="text" name="no"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>本机版本</b></td>
                                        <td colspan="2" ><input type="text" name="ver" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>项目名称</b></td>
                                        <td colspan="2" ><input type="text" name="xmmc" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>主机型号</b></td>
                                        <td colspan="2" ><input type="text" name="zjxh" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>计算人</b></td>
                                        <td colspan="2" ><input type="text" name="jsr" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>审核人</b></td>
                                        <td colspan="2" ><input type="text" name="shr" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>批准人</b></td>
                                        <td colspan="2" ><input type="text" name="pzr" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>计算日期</b></td>
                                        <td colspan="2" ><input type="text" name="date" /></td>
                                    </tr>
                                </table>

                                <div style="width: 100%">
                                    <table>
                                        <tr>
                                            <td colspan="4" style="background-color: #aaa;padding: 10px 0 10px 0"><b>2.城市信息</b></td>
                                        </tr>
                                        <tr>
                                            <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                                            <td style="width:17%;">符号</td>
                                            <td style="width:40%;">数值</td>
                                            <td style="width:17%;">单位</td>
                                        </tr>
                                        <tr>
                                            <td>城市类型选择</td>
                                            <td colspan="3">
                                                <select name="cslxModel" style="width:100%;height:40px;text-align-last:center">
                                                    <option value="" style="display: none"></option>
                                                    <option value="沿海城市">沿海城市</option>
                                                    <option value="海岛城市">海岛城市</option>
                                                    <option value="内陆城市">内陆城市</option>
                                                    <option value="严寒城市">严寒城市</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ><b>城市名称</b></td>
                                            <td ><p><i> </i></p></td>
                                            <td ><input type="text" name="csmc"/></td>
                                            <td > </td>
                                        </tr>
                                        <tr>
                                            <td ><b>城市类型</b></td>
                                            <td ><p><i> </i></p></td>
                                            <td ><input type="text" name="cslx"/></td>
                                            <td > </td>
                                        </tr>
                                        <tr>
                                            <td ><b>雨雪天气天数占全年的百分比</b></td>
                                            <td ><p><i>η</i></p></td>
                                            <td ><input type="text" name="oyx"/></td>
                                            <td >%</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td colspan="4" style="background-color: #aaa;padding: 10px 0 10px 0"><b>3.建筑及设备参数</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                                        <td style="width:17%;">符号</td>
                                        <td style="width:40%;">数值</td>
                                        <td style="width:17%;">单位</td>
                                    </tr>
                                    <tr>
                                        <td ><b>作业高度</b></td>
                                        <td ><p><i>h</i></p></td>
                                        <td ><input type="text" name="h"/></td>
                                        <td >m</td>
                                    </tr>
                                    <tr>
                                        <td ><b>清洗面外圈周长</b></td>
                                        <td ><p><i>l</i></p></td>
                                        <td ><input type="text" name="lc"/></td>
                                        <td >m</td>
                                    </tr>
                                    <tr>
                                        <td ><b>销座安装层数</b></td>
                                        <td ><p><i>n<sub>1</sub></i></p></td>
                                        <td ><input type="text" name="nxz"/></td>
                                        <td >层</td>
                                    </tr>
                                    <tr>
                                        <td ><b>设备台数</b></td>
                                        <td ><p><i>n<sub>2</sub></i></p></td>
                                        <td ><input type="text" name="nsb"/></td>
                                        <td >台</td>
                                    </tr>
                                    <tr>
                                        <td ><b>吊船长度</b></td>
                                        <td ><p><i>l<sub>1</sub></i></p></td>
                                        <td ><input type="text" name="ldc"/></td>
                                        <td >m</td>
                                    </tr>
                                    <tr>
                                        <td ><b>有效工作长度</b></td>
                                        <td ><p><i>w</i></p></td>
                                        <td ><input type="text" name="wcd"/></td>
                                        <td >m</td>
                                    </tr>
                                    <tr>
                                        <td ><b>吊船升降速度</b></td>
                                        <td ><p><i>v<sub>1</sub></i></p></td>
                                        <td ><input type="text" name="vdc"/></td>
                                        <td >m/min</td>
                                    </tr>
                                    <tr>
                                        <td ><b>清洗速度（2人）</b></td>
                                        <td ><p><i>v<sub>2</sub></i></p></td>
                                        <td ><input type="text" name="vqx"/></td>
                                        <td >m<sup>2</sup>/min</td>
                                    </tr>
                                    <tr>
                                        <td ><b>相邻工位转换时间</b></td>
                                        <td ><p><i>t<sub>1</sub></i></p></td>
                                        <td ><input type="text" name="tzh"/></td>
                                        <td >min</td>
                                    </tr>
                                    <tr>
                                        <td ><b>单个销钉收放时间（2人）</b></td>
                                        <td ><p><i>t<sub>xd</sub></i></p></td>
                                        <td ><input type="text" name="txd"/></td>
                                        <td >min</td>
                                    </tr>
                                    <tr>
                                        <td ><b>工作时间</b></td>
                                        <td ><p><i>t</i></p></td>
                                        <td ><input type="text" name="tmr"/></td>
                                        <td >h/day</td>
                                    </tr>
                                    <tr>
                                        <td ><b>工位转换间隔系数</b></td>
                                        <td ><p><i>η<sub>1</sub></i></p></td>
                                        <td ><input type="text" name="ozh"/></td>
                                        <td > </td>
                                    </tr>
                                    <tr>
                                        <td ><b>单个工位升降间隔系数</b></td>
                                        <td ><p><i>η<sub>2</sub></i></p></td>
                                        <td ><input type="text" name="osj"/></td>
                                        <td > </td>
                                    </tr>
                                    </table>
                            </div>
                            <input type="hidden" name="pdfType"/>
                        </form>

                            <div class="navbox">
                                <div style="width:600px;height:520px; font-size: 14px   ;">
                                    <table id="pdf3tb" style="background-color: rgb(220,220,220)">
                                        <tr>
                                            <td colspan="2" style="padding: 10px 0 10px 0;background-color: rgb(220,220,220);"><b>计算结果</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td style="width:50%;"><b>名称</b></td>
                                            <td style="width:50%;"><b>清洗周期（天）</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td><b>理论清洗周期</b></td>
                                            <td id="tll"></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td><b>考虑天气因素后，清洗周期</b></td>
                                            <td id="ttq"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="buttonbox">
                            <input style="cursor: pointer" type="submit"  class="button" type="submit" value="校验" onclick="showjy();return janyan()"/>
                            <input style="cursor: pointer" type="submit" form="form1" class="button" value="保存数据" onclick="isCheck(false);$('form').attr('action','saveValue')"/>
                            <input style="cursor: pointer" type="submit" form="form1" class="button"  value="导出计算pdf" onclick="$('form').attr('action','/CleaningCycle/getPDF');
                                                                                                                isCheck(false);changeType('Calculation')"/>
                            <input style="cursor: pointer" type="submit" form="form1" class="button"  value="导出检验pdf" onclick="$('form').attr('action','/CleaningCycle/getPDF');
                                                                                                                isCheck(true);changeType('Check')"/>
                            <input style="cursor: pointer" type="reset" form="form1" value="重置" onclick="$('#pdf3tb td[id]').text('').css('background-color','transparent')"/>
                        </div>
                </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    (function () {
        window.htmlData = {};
    })()
</script>
<script th:src="@{/js/home.js}"></script>
<script>
    vm.$mount('#app')
</script>

<script>
    cslxModelList={
        "沿海城市":{
            cslx:"沿海城市",
            oyx:70,
        },
        "海岛城市":{
            cslx:"海岛城市",
            oyx:65,
        },
        "内陆城市":{
            cslx:"内陆城市",
            oyx:75,
        },
        "严寒城市":{
            cslx:"严寒城市",
            oyx:80,
        },
    };

</script>
<script type="text/javascript">
    function isNumber(value) {         //验证是否为数字
        var patrn = /^(-)?\d+(\.\d+)?$/;
        if (patrn.exec(value) == null || value == "") {
            return false
        } else {
            return true
        }
    }

    function janyan() {
        $.ajax({
            url: "/CleaningCycle/jy",
            type: "post",
            data: $("form").serialize(),
            async: false,
            dataType: "json",
            cache: false,
            success: function (data) {
                Object.keys(data).forEach(function (id) {
                    $("#" + id).text(data[id]);
                })
            }
        })
        return false;
    }

    function showImage(form,element) {
        // 先获取用户上传的文件对象
        var fileObj = form.files[0];
        if(fileObj.size>1048576){
            alert("上传文件大于1M，请重新选择");
            form.value="";
            return false;
        }
        // 生成一个文件读取的内置对象
        var fileReader = new FileReader();
        // 将文件对象传递给内置对象
        fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
        // 将读取出文件对象替换到img标签
        fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
            $('#'+element).attr('src',fileReader.result).attr('display','inline-block')
        }
    }
</script>

<script>
    function changeType(l){
        var e = $('input[name=pdfType]');
        if (e.length == 0) {
            $('form').append('<input name="pdfType" type="hidden"/>');
        }
        e = $('input[name=pdfType]');
        e.val(l);
    }
    var calculateFunction={
        cslx:function(){
            return cslxModelList[ cslxModel ]['cslx'];
        },
        oyx:function(){
            return cslxModelList[ cslxModel ]['oyx'];
        },

        vdc:function(){
            return 9 ;
        },
        vqx:function(){
            return 2 ;
        },
        tzh:function(){
            return 2 ;
        },
        txd:function(){
            return 2 ;
        },
        tmr:function(){
            return 8 ;
        },
        ozh:function(){
            return 1.15 ;
        },
        osj:function(){
            return 1.25 ;
        },
    };
    data.init(calculateFunction);
</script>
<script>
    $('input[name="getData"]').click(function () {
            var url = '/CleaningCycle/getData';
            var id = $('input[name="sjht"]').val();
            getData.geteDataFromDB(url, id)
        }
    )
</script>
</body>
</html>