<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <!--     引入样式 -->
    <link rel="stylesheet" th:href="@{/css/element.css}">
    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/js/element.js}"></script>
    <script type="text/javascript" th:src="@{/js/model.js}"></script>
    <script th:src="@{/js/axios.js}"></script>
    <script  th:src="@{/js/qs.min.js}"></script>
    <script>
        function jumpurl(){
            location='http://www.baidu.com';
        }
        function f(){
            vm.i--;
        }
        function getUrlRelativePath(url)
        {
            var arrUrl = url.split("//");

            var start = arrUrl[1].indexOf("/");
            var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

            if(relUrl.indexOf("?") != -1){
                relUrl= relUrl.split("?")[0];
            }
            return relUrl;
        }
        var vm = new Vue({
            data: {
                asideData: {},
                header: {},
                main: {isreally: false},
                i:10,
                username:"",

            },
            computed:{
                u(){
                    if(this.i==0){
                        jumpurl();
                    }
                }
            },
            methods: {
                objIsEmpty: function (objectName) {
                    if (Object.keys(objectName).length === 0) {
                        return false // 如果为空,返回false
                    }
                    return true;
                },
                f(){
                    console.log(this.i)
                    this.i--;
                },
                getCurrentUserName(){
                    axios.post("/getCurrentUserName").then(
                        e=>{
                        console.log(e.data)
                    this.username=e.data;
                }
                )
                },
                setInvisibleLinks(){
                    axios.get("/getCurrentUserLevel").then(
                        e => {
                        if (typeof e.data === 'number' && !isNaN(e.data )  ) {
                        var invisibleLinks = Array.prototype.slice.call(document.getElementsByClassName("myNav"));
                        if(e.data==1) {
                            axios.get("/getPermitsAboveSuperUser").then(
                                e1 => {
                                console.log(e1.data);
                            console.log(invisibleLinks);
                            for(i=0;i < invisibleLinks.length;i++){
                                for (j = 0; j < e1.data.length; j++) {
                                    if (getUrlRelativePath(invisibleLinks[i].href) == e1.data[j]) {
                                        invisibleLinks[i].style.display = "none";
                                        break;
                                    }
                                }
                            }
                        });
                        }
                        else if(e.data==2){
                            axios.get("/getPermitsAboveAdmin").then(
                                e1 => {
                                for(i=0;i < invisibleLinks.length;i++){
                                for (j = 0; j < e1.data.length; j++) {
                                    if (getUrlRelativePath(invisibleLinks[i].href) == e1.data[j]) {
                                        invisibleLinks[i].style.display = "none";
                                        break;
                                    }
                                }
                            }
                        });
                        }
                        console.log(e.data);
                        console.log("e.data");
                        for(i=0;i<invisibleLinks.length;i++){
                            if(getUrlRelativePath(invisibleLinks[i].href)=='/TempPermission'){
                                if(e.data!=3) {
                                    invisibleLinks[i].style.display = "none";
                                }
                                invisibleLinks[i].target="_blank";
                                break;
                            }
                        }
                    }
                }
                )
                }
            },
            mounted() {
                this.getCurrentUserName();
                this.setInvisibleLinks();
            }
        })
    </script>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>下回转固定立柱(单臂)软件图纸</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/jquery-1.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pdf.css}">
    <script th:src="@{/js/dataClass.js}"></script>
</head>

<body>
<div id="app" hidden>
    <el-container>
        <el-header id="headerBox" style="width:100%;position: fixed;z-index: 10">
            <!--头元素-->
            <el-row :gutter="20">
                <slot th:include="newHtml/model::header"></slot>
            </el-row>
        </el-header>
        <el-container>
            <el-aside id="aside" height='100%' style="z-index: 5">
                <el-row class="tac">
                    <el-col>
                        <div class="side fixed" id="asideBox">
                            <!--左侧导航栏-->
                            <div th:include="newHtml/model::aside"></div>
                        </div>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <el-row>
                    <div class="main">
                        <iframe style="display: none" name="stop" src="about:blank"></iframe>
                        <form class="boxform" name="form1" id="form1" th:id="form1" opType="#" target="stop" method="post" enctype="multipart/form-data">
                            <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">下回转固定立柱(单臂)软件图纸</div>
                            <!- 封面内容 ->
                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td style="width:30%;padding:10px 0;;padding:10px 0;;">项目批令号/方案编号</td>
                                        <td style="width:55%;">
                                            <input type='text' name="sjht" type="text" list="txtBatchId"/>
                                            <datalist id="txtBatchId">
                                            </datalist>
                                        </td>
                                        <td style="width:15%;"><input type="button" name="getData" value="读取"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="background-color: #aaa;padding: 5px 0"><b>基本参数</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>名称</b></td>
                                        <td colspan="2">数值</td>
                                    </tr>
                                    <tr>
                                        <td ><b>项目名称</b></td>
                                        <td colspan="2"><input type="text" name="xmmc"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>项目批令号</b></td>
                                        <td colspan="2"><input type="text" name="plh"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>填写人</b></td>
                                        <td colspan="2"><input type="text" name="jsr"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>填写日期（参考格式：2020/12/25）</b></td>
                                        <td colspan="2"><input type="text" name="date"/></td>
                                    </tr>
                                    <tr>
                                        <td><b>下回转固定立柱型号选择</b></td>
                                        <td colspan="2">
                                            <select name="lzxlzdModel" style="width:100%;height:40px;text-align-last:center">
                                                <option value="" style="display: none"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td><b>下回转固定立柱型号选择</b></td>-->
                                        <!--<td colspan="2">-->
                                            <!--<select name="dbtypeModel" style="width:49%;height:40px;text-align-last:center">-->
                                                <!--<option value="" style="display: none"></option>-->
                                            <!--</select>-->
                                            <!--<select name="lzxlzModel" style="width:49%;height:40px;text-align-last:center">-->
                                            <!--</select>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td><b>下回转固定立柱销轴型号选择</b></td>-->
                                        <!--<td colspan="2">-->
                                            <!--<select name="lzxxztypeModel" style="width:49%;height:40px;text-align-last:center">-->
                                                <!--<option value="" style="display: none"></option>-->
                                            <!--</select>-->
                                            <!--<select name="lzxxzModel" style="width:49%;height:40px;text-align-last:center">-->
                                            <!--</select>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <tr>
                                        <td><b>起升机构安装位置选择</b></td>
                                        <td colspan="2">
                                            <select name="qsjgazwzModel" style="color:black;width:100%;height:40px;text-align-last:center">
                                                <option value="" style="display: none"></option>
                                                <option value="立柱侧面">立柱侧面</option>
                                                <option value="立柱后面">立柱后面</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ><b>立柱高度(mm)</b></td>
                                        <td colspan="2"><input type="text" name="lzx001"/></td>
                                    </tr>
                                    <tr>
                                        <td><b>起升机构选择</b></td>
                                        <td colspan="2">
                                            <select name="qsjgModel" style="color:black;width:100%;height:40px;text-align-last:center">
                                                <option value="" style="display: none"></option>
                                                <option value="175">175</option>
                                                <option value="275">275</option>
                                                <!--<option value="185">185</option>-->
                                                <!--<option value="285">285</option>-->
                                                <!--<option value="295">295</option>-->
                                                <!--<option value="313">313</option>-->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>立柱回转法兰是否机加</b></td>
                                        <td colspan="2">
                                            <select name="lzxhzfljjModel" style="color:black;width:100%;height:40px;text-align-last:center">
                                                <option value="" style="display: none"></option>
                                                <option value="机加">机加</option>
                                                <option value="不机加">不机加</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ><b>回转机构型号</b></td>
                                        <td colspan="2"><input type="text" name="lzxhzjgxh"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>立柱类型</b></td>
                                        <td colspan="2"><input type="text" name="lzxlzxh"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>销轴型号</b></td>
                                        <td colspan="2"><input type="text" name="lzxxzxh"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>销轴之间距离</b></td>
                                        <td colspan="2"><input type="text" name="llzxxz"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>滑轮组型号</b></td>
                                        <td colspan="2"><input type="text" name="lzxhlzxh"/></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="height:480px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                                                <img id="lzxtu" height="480px"  name="lzxtu">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div style="width:97%;">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;padding: 10px 0 10px 0"><b>1.总图相关参数填写</b></td>
                                    </tr>
                                </table>
                            </div >

                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;height: auto">
                                            <img style="width:600px" src="\lzxtu1.png"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="subtable">
                                <table class="tb">
                                    <tr>
                                        <td style="width:40%;padding:10px 0;;">名称</td>
                                        <td style="width:40%;">数值</td>
                                        <td style="width:20%;">单位</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸1：立柱总高度</td>
                                        <td><input type="text" name="lzx001"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸2：立柱总长度</td>
                                        <td><input type="text" name="lzx002"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸3：立柱总宽度</td>
                                        <td><input type="text" name="lzx003"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸4：立柱方管（或者拼焊板）总高度</td>
                                        <td><input type="text" name="lzx004"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸5：起升机构支架安装距（宽）</td>
                                        <td><input type="text" name="lzx005"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸6：起升机构支架安装距（长）</td>
                                        <td><input type="text" name="lzx006"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸7：起升机构支架方管长度</td>
                                        <td><input type="text" name="lzx007"/></td>
                                        <td>mm</td>
                                    </tr>
                                </table>
                            </div>

                            <div style="width:97%;">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;padding: 10px 0 10px 0"><b>2.组焊件相关参数填写</b></td>
                                    </tr>
                                </table>
                            </div >

                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;height: auto">
                                            <img style="width:600px" src="\lzxtu2.png"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="subtable">
                                <table class="tb">
                                    <tr>
                                        <td style="width:40%;padding:10px 0;;">名称</td>
                                        <td style="width:40%;">数值</td>
                                        <td style="width:20%;">单位</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸8：立柱最上端到法兰板上表面的距离</td>
                                        <td><input type="text" name="lzx008"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸9：滑轮观察孔中心到法兰板最上端的距离</td>
                                        <td><input type="text" name="lzx009"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸10：滑轮加强板中心到法兰板上表面的距离</td>
                                        <td><input type="text" name="lzx010"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸11：立柱相邻两块内筋板之间的距离（可变范围500~1200）</td>
                                        <td><input type="text" name="lzx011"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>立柱内筋板间隔数量</td>
                                        <td><input type="text" name="nlzjbjg"/></td>
                                        <td>个</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸12：走线管长度</td>
                                        <td><input type="text" name="lzx012"/></td>
                                        <td>mm</td>
                                    </tr>
                                </table>
                            </div>

                            <div style="width:97%;">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;padding: 10px 0 10px 0"><b>3.起升机构支架相关参数填写</b></td>
                                    </tr>
                                </table>
                            </div >

                            <div class="subtable">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;height: auto">
                                            <img style="width:600px" src="\lzxtu3.png"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="subtable">
                                <table class="tb">
                                    <tr>
                                        <td style="width:40%;padding:10px 0;;">名称</td>
                                        <td style="width:40%;">数值</td>
                                        <td style="width:20%;">单位</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸13：起升支架横板长度</td>
                                        <td><input type="text" name="lzx013"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸14：起升支架竖板长度</td>
                                        <td><input type="text" name="lzx014"/></td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>尺寸15：两个起升支架之间的距离</td>
                                        <td><input type="text" name="lzx015"/></td>
                                        <td>mm</td>
                                    </tr>
                                </table>
                            </div>

                            <div style="width:97%;">
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;padding: 10px 0 10px 0"><b>4.质量参数</b></td>
                                    </tr>
                                </table>
                            </div >
                            <div class="subtable">
                                <table class="tb">
                                    <tr>
                                        <td style="width:40%;padding:10px 0;;">名称</td>
                                        <td style="width:40%;">数值</td>
                                        <td style="width:20%;">单位</td>
                                    </tr>

                                    <tr>
                                        <td>立柱总质量</td>
                                        <td><input type="text" name="mlzx001"/></td>
                                        <td>kg</td>
                                    </tr>
                                    <tr>
                                        <td>立柱组焊件质量</td>
                                        <td><input type="text" name="mlzx002"/></td>
                                        <td>kg</td>
                                    </tr>
                                </table>
                            </div>

                            <div style="display: none">
                                <input type="text" name="lzxg1" />
                                <input type="text" name="lzxg2" />
                                <input type="text" name="mlzxg1" />
                                <input type="text" name="mlzxg2" />
                                <input type="text" name="mlzxg3" />
                                <input type="text" name="mlzxg4" />
                                <input type="text" name="mlzxg5" />
                                <input type="text" name="mlzxg6" />
                                <input type="text" name="mlzxg7" />
                                <input type="text" name="mlzxg8" />
                                <input type="text" name="mlzxg9" />
                                <input type="text" name="mlzxg10" />
                                <input type="text" name="mlzxg11" />
                                <input type="text" name="qsjg" />

                                <!--<input type="text" name="mlzxxz1" />-->
                                <!--<input type="text" name="mlzxxz2" />-->
                                <!--<input type="text" name="dlzxxz" />-->
                                <!--<input type="text" name="dlzxxzpz" />-->
                                <!--<input type="text" name="dlzxxzxl" />-->
                                <!--<input type="text" name="mlzxkkx1" />-->
                                <!--<input type="text" name="mlzxkkx2" />-->

                                <input type="text" name="mlzx003" />
                                <input type="text" name="mlzx004" />
                                <input type="text" name="mlzx005" />
                                <input type="text" name="mlzx006" />
                                <input type="text" name="mlzx007" />
                                <input type="text" name="mlzx008" />
                                <input type="text" name="mlzx009" />
                                <input type="text" name="mlzx010" />
                                <input type="text" name="mlzx011" />
                                <input type="text" name="mlzx012" />
                                <input type="text" name="mlzx013" />
                                <!--<input type="text" name="mlzx014" />-->
                                <!--<input type="text" name="mlzx015" />-->
                                <!--<input type="text" name="mlzx016" />-->
                                <!--<input type="text" name="mlzx017" />-->
                                <!--<input type="text" name="mlzx018" />-->
                            </div>
                            <input type="hidden" name="pdfType"/>
                        </form>
                        </div>

                        <div class="buttonbox">
                            <input style="cursor: pointer" type="submit" form="form1" class="button" value="保存数据"
                                   onclick="isCheck(false);$('form').attr('action','/saveValue')"/>
                            <input style="cursor: pointer" type="submit" form="form1" class="button"  value="获取图纸pdf" onclick="$('form').attr('action','/LowerLZDrawing/getPDF');
                                                                                                                isCheck(false);changeType('Calculation')"/>
                            <input style="cursor: pointer" type="reset" form="form1" value="重置" onclick="$('#pdf3tb td[id],#pdf3tb span[id]').text('').css('background-color','transparent')"/>
                        </div>
                </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    (function () {
        window.htmlData = {};
    })()
</script>
<script th:src="@{/js/home.js}"></script>
<script>
    vm.$mount('#app')
</script>

<script>
    qsjgModelList= {
        "175":{
            lzx005:540,
            lzx006:1480,
            lzx007:1600,
            qsjg:"175",
        },
        "275":{
            lzx005:640,
            lzx006:1480,
            lzx007:1600,
            qsjg:"275",
        },
        // "185":{
        //     lzx005:747,
        //     lzx006:1400,
        //     lzx007:2000,
        //     qsjg:"185",
        // },
        // "285":{
        //     lzx005:877,
        //     lzx006:1400,
        //     lzx007:2000,
        //     qsjg:"285",
        // },
        // "295":{
        //     lzx005:877,
        //     lzx006:960,
        //     lzx007:1200,
        //     qsjg:"295",
        // },
        // "313":{
        //     lzx005:1070,
        //     lzx006:2300,
        //     lzx007:2550,
        //     qsjg:"313",
        // },
    };
    qsjgazwzModelList= {
        "立柱侧面":{

        },
        "立柱后面":{

        },
    };
    lzxhzfljjModelList= {
        "机加":{

        },
        "不机加":{

        },
    };
</script>
<script type="text/javascript">
    function isNumber(value) {         //验证是否为数字
        var patrn = /^(-)?\d+(\.\d+)?$/;
        if (patrn.exec(value) == null || value == "") {
            return false
        } else {
            return true
        }
    }
    $(document).ready(function () {
        // InitNav(10)
        $('#LowerLZDrawing').addClass('o-sub-cur');
    })

    function janyan() {
        $.ajax({
            url: "/LowerLZDrawing/jy",
            type: "post",
            data: $("form").serialize(),
            async: false,
            dataType: "json",
            cache: false,
            success: function (data) {
                Object.keys(data).forEach(function (id) {
                    $("#" + id).text(data[id]);
                    // if(data[id]=="不满足") $("#" + id).css("background-color","red");
                    // if(data[id]=="满足") $("#" + id).css("background-color","#aaa");
                })
            }
        })
        return false;
    }

    function showImage(form,element) {
        // 先获取用户上传的文件对象
        var fileObj = form.files[0];
        if(fileObj.size>1048576){
            alert("上传文件大于1M，请重新选择");
            form.value="";
            return false;
        }
        // 生成一个文件读取的内置对象
        var fileReader = new FileReader();
        // 将文件对象传递给内置对象
        fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
        // 将读取出文件对象替换到img标签
        fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
            $('#'+element).attr('src',fileReader.result).attr('display','inline-block')
        }
    }
</script>

<script>
    function changeType(l){
        var e = $('input[name=pdfType]');
        if (e.length == 0) {
            $('form').append('<input name="pdfType" type="hidden"/>');
        }
        e = $('input[name=pdfType]');
        e.val(l);
    }
    var calculateFunction={

        lzxxzxh:function(){
            if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                return 'HZS-7.1RF77-1' ;
            } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                return 'HZS-8.0RF87-1' ;
            } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                return 'HZS-9.0RF97-1' ;
            } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                return 'DB-XZ(Φ77)' ;
            }
        },
        llzxxz:function(){
            if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                return 550 ;
            } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                return 650 ;
            } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                return 800 ;
            } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                return 1000 ;
            }
        },
        qsjg:function(){
            return qsjgModelList[ qsjgModel ]['qsjg'];
        },
        lzxhlzxh:function(){
            return 'HLZS2Φ200(Φ8)DA';
        },

        mlzxxz2:function(){
            return 2 * mlzxxz1 ;
        },
        mlzxkkx2:function(){
            return 4 * mlzxkkx1 ;
        },

        lzx002:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 1301 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 1370 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 1500 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 1602 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },
        lzx003:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 1600 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 1600 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 1600 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 1600 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },
        lzx004:function(){
            return lzx001 - lzxg1 ;
        },
        lzx005:function(){
            return qsjgModelList[ qsjgModel ]['lzx005'];
        },
        lzx006:function(){
            return qsjgModelList[ qsjgModel ]['lzx006'];
        },
        lzx007:function(){
            return qsjgModelList[ qsjgModel ]['lzx007'];
        },

        lzx008:function(){
            return lzx001 - lzxg2 ;
        },
        lzx010:function(){
            return lzx009 ;
        },
        lzx011: function () {
            if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                $('[name=lzx011]').prop('disabled', true)
                data.datalist['lzx011'].color = 'rgb(227, 227, 227)';
                return null;
            }
            else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                $('[name=lzx011]').prop('disabled', true)
                data.datalist['lzx011'].color = 'rgb(227, 227, 227)';
                return null;
            } else {
                $('[name=lzx011]').prop('disabled', false)
                data.datalist['lzx011'].color = 'white';
                return ' ';
            }
        },
        nlzjbjg: function () {
            if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                $('[name=nlzjbjg]').prop('disabled', true)
                data.datalist['nlzjbjg'].color = 'rgb(227, 227, 227)';
                return null;
            }
            else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                $('[name=nlzjbjg]').prop('disabled', true)
                data.datalist['nlzjbjg'].color = 'rgb(227, 227, 227)';
                return null;
            } else {
                $('[name=nlzjbjg]').prop('disabled', false)
                data.datalist['nlzjbjg'].color = 'white';
                return ' ';
            }
        },
        lzx013:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 950 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 880 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 900 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 880 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },
        lzx014:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 880 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 830 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 848 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 835 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },
        lzx015:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 970 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 700 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 840 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 800 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },

        mlzx001:function(){
            return mlzxg1 + mlzx002 ;
        },
        mlzx002:function(){
            return mlzxg2 + mlzx003  + mlzx011 + mlzx012  + mlzx013 ;
        },
        mlzx003:function(){
            if ( lzxlzxh == "LZX(300×300)(6.3)") {
                return 0.08848 * lzx004 - 14.52 ;
            }else if ( lzxlzxh == "LZX(350×350)(7.1)") {
                return 0.1243 * lzx004 - 20.45 ;
            }else{
                return mlzx004 + mlzx005 + mlzx006 + mlzx007 ;
            }
        },
        mlzx004:function(){
            return mlzxg3 * lzx004 - mlzxg4 ;
        },
        mlzx005:function(){
            return mlzxg5 * lzx004 - mlzxg6 ;
        },
        mlzx006:function(){
            return mlzxg7 * lzx004 - mlzxg8 ;
        },
        mlzx007:function(){
            return mlzxg9 * lzx004 - mlzxg10 ;
        },
        mlzx008:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 8.33 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 7.82 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 8 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 7.88 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },
        mlzx009:function(){
            if ( qsjgModel == "175" ) {
                if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
                    return 15.82 ;
                } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
                    return 15 ;
                } else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
                    return 15.37 ;
                } else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
                    return 15.09 ;
                }
            }else if ( qsjgModel == "275" ) {
                return ' ';
            }
        },
        mlzx010:function(){
            return mlzx008 + mlzx009 ;
        },
        mlzx011:function(){
            return 2 * mlzx010 ;
        },
        mlzx012:function(){
            return 0.00574 * lzx012 ;
        },
        mlzx013:function(){
            if ( lzx001 <= 4000 ) {
                return 0 ;
            }else {
                return mlzxg11 ;
            }
        },
    //     //需测质量
    //     mlzx014:function(){
    //         if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
    //             return 550 ;
    //         } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
    //             return 650 ;
    //         }else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
    //             return 800 ;
    //         }else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
    //             return 1000 ;
    //         }
    //         // else if ( lzxlzxh == "LZX(535×700)(10.0)" ) {
    //         //     if ( lzxxzxh == "SSB(1+1)-XZ(Φ67)" ) {
    //         //         return 900 ;
    //         //     } else if ( lzxxzxh == "SSB(1+1)-XZ(Φ77)" ) {
    //         //         return 1000 ;
    //         //     } else if ( lzxxzxh == "SSB(1+1)-XZ(Φ87)" ) {
    //         //         return 1200 ;
    //         //     }
    //         // }
    //     },
    //     mlzx015:function(){
    //         return 4 * mlzx014 ;
    //     },
    //     mlzx016:function(){
    //         if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
    //             return 550 ;
    //         } else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
    //             return 650 ;
    //         }else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
    //             return 800 ;
    //         }else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
    //             return 1000 ;
    //         }
    //     },
    //     mlzx017:function(){
    //         return 2 * mlzx016 ;
    //     },
    //     mlzx018:function(){
    //         if ( lzxlzxh == "LZX(300×300)(6.3)" ) {
    //             return 550 ;
    //         }else if ( lzxlzxh == "LZX(350×350)(7.1)" ) {
    //             return 650 ;
    //         }else if ( lzxlzxh == "LZX(390×500)(8.0)" ) {
    //             return 800 ;
    //         }else if ( lzxlzxh == "LZX(500×600)(9.0)" ) {
    //             return 1000;
    //         }
    //     },
    };

    // getMultilevelTable("dbtypeModel","lzxlzModel",["lzxlzd", "lzxlz1", "lzxlz2", "lzxlz3", "lzxlz4"]);
    // getMultilevelTable("dbtypeModel","lzxxzModel",["db1xz", "db2xz", "db3xz", "db4xz"]);

    getDrawing("lzxlzdModel","lzxlzd");
    data.init(calculateFunction);
</script>
<script>
    $('input[name="getData"]').click(function () {
            var url = '/LowerLZDrawing/getData';
            var id = $('input[name="sjht"]').val();
            getData.geteDataFromDB(url, id)
        }
    )
</script>
<script>
    function showImage() {
        var l=window.data.datalist;
        if(!(l['lzx001'].value && l['qsjgazwzModel'].value && l['qsjgModel'].value && l['lzxhzfljjModel'].value && l['lzxlzdModel'].value ))
            return ;
        var data = new FormData();
        var els = $("input[type=text],select");
        for (var index = 0; index < els.length; index++) {
            var e = els[index];
            data.append(e.name,e.value);
        }
        axios.post("/LowerLZDrawing/showDrawing", data).then(function (e) {
            var imageName=e.data;
            if(window.data.image==null)
                window.data.image={"lzxtu":imageName}
            else if(window.data.image['lzxtu']==imageName)
                return null;
            else;
            $("img[id=lzxtu]")[0].src = '/drawing/getImg?filename=' + imageName + '&drawingname=LowerLZ&tempid=' + Math.random();
        })
    }
    $("[name]").change(showImage);
    $("[name=getData]").click(showImage)
</script>
</body>
</html>