<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <!--     引入样式 -->
    <link rel="stylesheet" th:href="@{/css/element.css}">
    <!-- 引入组件库 -->
    <script type="text/javascript" th:src="@{/js/element.js}"></script>
    <script type="text/javascript" th:src="@{/js/model.js}"></script>
    <script th:src="@{/js/axios.js}"></script>
    <script  th:src="@{/js/qs.min.js}"></script>

    <script>
        function jumpurl(){
            location='http://www.baidu.com';
        }
        function f(){
            vm.i--;
        }
        function getUrlRelativePath(url)
        {
            var arrUrl = url.split("//");

            var start = arrUrl[1].indexOf("/");
            var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

            if(relUrl.indexOf("?") != -1){
                relUrl= relUrl.split("?")[0];
            }
            return relUrl;
        }
        var vm = new Vue({
            data: {
                asideData: {},
                header: {},
                main: {isreally: false},
                i:10,
                username:"",

            },
            computed:{
                u(){
                    if(this.i==0){
                        jumpurl();
                    }
                }
            },
            methods: {
                objIsEmpty: function (objectName) {
                    if (Object.keys(objectName).length === 0) {
                        return false // 如果为空,返回false
                    }
                    return true;
                },
                f(){
                    console.log(this.i)
                    this.i--;
                },
                getCurrentUserName(){
                    axios.post("/getCurrentUserName").then(
                        e=>{
                        console.log(e.data)
                    this.username=e.data;
                }
                )
                },
                setInvisibleLinks(){
                    axios.get("/getCurrentUserLevel").then(
                        e => {
                        if (typeof e.data === 'number' && !isNaN(e.data )  ) {
                        var invisibleLinks = Array.prototype.slice.call(document.getElementsByClassName("myNav"));
                        if(e.data==1) {
                            axios.get("/getPermitsAboveSuperUser").then(
                                e1 => {
                                console.log(e1.data);
                            console.log(invisibleLinks);
                            for(i=0;i < invisibleLinks.length;i++){
                                for (j = 0; j < e1.data.length; j++) {
                                    if (getUrlRelativePath(invisibleLinks[i].href) == e1.data[j]) {
                                        invisibleLinks[i].style.display = "none";
                                        break;
                                    }
                                }
                            }
                        });
                        }
                        else if(e.data==2){
                            axios.get("/getPermitsAboveAdmin").then(
                                e1 => {
                                for(i=0;i < invisibleLinks.length;i++){
                                for (j = 0; j < e1.data.length; j++) {
                                    if (getUrlRelativePath(invisibleLinks[i].href) == e1.data[j]) {
                                        invisibleLinks[i].style.display = "none";
                                        break;
                                    }
                                }
                            }
                        });
                        }
                        console.log(e.data);
                        console.log("e.data");
                        for(i=0;i<invisibleLinks.length;i++){
                            if(getUrlRelativePath(invisibleLinks[i].href)=='/TempPermission'){
                                if(e.data!=3) {
                                    invisibleLinks[i].style.display = "none";
                                }
                                invisibleLinks[i].target="_blank";
                                break;
                            }
                        }
                    }
                }
                )
                }
            },
            mounted() {
                this.getCurrentUserName();
                this.setInvisibleLinks();
            }
        })
    </script>

    <link rel="stylesheet" th:href="@{/css/home.css}">

    <title>液压缸电机功率及油箱容积计算书</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/jquery-1.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pdf.css}">

    <script th:src="@{/js/dataClass.js}"></script>
</head>

<body>
<div id="app">
    <el-container>
        <el-header id="headerBox" style="width:100%;position: fixed;z-index: 10">
            <!--头元素-->
            <el-row :gutter="20">
                <slot th:include="newHtml/model::header"></slot>
            </el-row>
        </el-header>
        <el-container>
            <el-aside id="aside" height='100%' style="z-index: 5">
                <el-row class="tac">
                    <el-col>
                        <div class="side fixed" id="asideBox">
                            <!--左侧导航栏-->
                            <div th:include="newHtml/model::aside"></div>
                        </div>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <el-row>
                    <div class="main">
                        <iframe style="display: none" name="stop" src="about:blank"></iframe>
                        <form class="boxform" name="form1" id="form1" th:id="form1" opType="#" target="stop" method="post" enctype="multipart/form-data">
                            <div style="display: block;font-size: 30px;text-align: center;line-height: 30px">液压缸电机功率及油箱容积计算书</div>
                            <!- 封面内容 ->
                            <div class='subtable'>
                                <table>
                                    <tr>
                                        <td style="width:30%;padding:10px 0;;padding:10px 0;;">项目批令号/方案编号</td>
                                        <td style="width:55%;">
                                            <input type='text' name="sjht" type="text" list="txtBatchId"/>
                                            <datalist id="txtBatchId">
                                            </datalist>
                                        </td>
                                        <td style="width:15%;"><input type="button" name="getData" value="读取"/></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="background-color: #aaa;padding: 10px 0 10px 0"><b>1.封面内容</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;padding:10px 0;;padding:10px 0;;"><b>名称</b></td>
                                        <td colspan="2" style="width:70%;">内容</td>
                                    </tr>
                                    <tr>
                                        <td ><b>本机计算书编号</b></td>
                                        <td colspan="2" ><input type="text" name="no"/></td>
                                    </tr>
                                    <tr>
                                        <td ><b>本机版本</b></td>
                                        <td colspan="2" ><input type="text" name="ver" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>项目名称</b></td>
                                        <td colspan="2" ><input type="text" name="xmmc" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>主机型号</b></td>
                                        <td colspan="2" ><input type="text" name="zjxh" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>计算人</b></td>
                                        <td colspan="2" ><input type="text" name="jsr" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>审核人</b></td>
                                        <td colspan="2" ><input type="text" name="shr" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>批准人</b></td>
                                        <td colspan="2" ><input type="text" name="pzr" /></td>
                                    </tr>
                                    <tr>
                                        <td ><b>计算日期</b></td>
                                        <td colspan="2" ><input type="text" name="date" /></td>
                                    </tr>
                                </table>
                            </div>

                            <div class='subtable'>
                                <table>
                                    <tr>
                                        <td colspan="2" style="background-color: #aaa;padding: 10px 0 10px 0"><b>2.液压缸型号选择</b></td>
                                    </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="height:200px;text-align: center;padding: 10px 0 10px 0;overflow: hidden;border:1px solid #aaa;">
                                                    <img alt="液压缸示意图"src="/image/Tensile/yygtu1.png" width="600px" id="yygtu1" name="yygtu1" >
                                                    <input type="hidden" value="tu_yygtu1.png"/>
                                                </div>
                                            </td>
                                        <tr>
                                            <td style="padding:10px 0"><b>液压缸示意图</b></td>
                                            <td><input class="image" type="file" name="yygtu1" accept="image/*"
                                                                   oninput="showImage(this,'yygtu1')"/></td>
                                        </tr>
                                    <tr>
                                        <td style="width:35%;padding:10px 0;;"><b>液压缸型号选择</b></td>
                                        <td>
                                            <select name="yygModel" style="width:100%;height:40px;text-align-last:center">
                                                <option value="" style="display: none"></option>
                                                <option value="缸径40">缸径40</option>
                                                <option value="缸径50">缸径50</option>
                                                <option value="缸径63">缸径63</option>
                                                <option value="缸径80">缸径80</option>
                                                <option value="缸径90">缸径90</option>
                                                <option value="缸径100">缸径100</option>
                                                <option value="缸径110">缸径110</option>
                                                <option value="缸径125">缸径125</option>
                                                <option value="缸径140">缸径140</option>
                                                <option value="缸径150">缸径150</option>
                                                <option value="缸径160">缸径160</option>
                                                <option value="缸径180">缸径180</option>
                                                <option value="缸径200">缸径200</option>
                                                <option value="缸径220">缸径220</option>
                                                <option value="缸径250">缸径250</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class='subtable'>
                                <table>
                                    <tr>
                                        <td colspan="4" style="background-color: #aaa;padding: 10px 0 10px 0"><b>3.液压缸基本参数</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width:26%;padding:10px 0;;"><b>名称</b></td>
                                        <td style="width:17%;">符号</td>
                                        <td style="width:40%;">数值</td>
                                        <td style="width:17%;">单位</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸缸径</b></td>
                                        <td ><p><i>D</i></p></td>
                                        <td ><input type="text" name="yygdd" /></td>
                                        <td >mm</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸杆径</b></td>
                                        <td ><p><i>d</i></p></td>
                                        <td ><input type="text" name="yygxd" /></td>
                                        <td >mm</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸缸径截面积</b></td>
                                        <td ><p><i>A</i></p></td>
                                        <td ><input type="text" name="yyga" /></td>
                                        <td >mm<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸额定工作压力</b></td>
                                        <td ><p><i>P</i></p></td>
                                        <td ><input type="text" name="yyggcyl" /></td>
                                        <td >MPa</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸行程</b></td>
                                        <td ><p><i>S</i></p></td>
                                        <td ><input type="text" name="yygs" /></td>
                                        <td >mm</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸推出/收回时间</b></td>
                                        <td ><p><i>t</i></p></td>
                                        <td ><input type="text" name="yygt" /></td>
                                        <td >min</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸运动速度</b></td>
                                        <td ><p><i>v</i></p></td>
                                        <td ><input type="text" name="yygv" /></td>
                                        <td >m/min</td>
                                    </tr>
                                    <tr>
                                        <td ><b>液压缸数量</b></td>
                                        <td ><p><i>n<sub>1</sub></i></p></td>
                                        <td ><input type="text" name="yygn1" /></td>
                                        <td >个</td>
                                    </tr>
                                 </table>
                            </div>

                            <div class='subtable'>
                                <table>
                                    <tr>
                                        <td style="background-color: #aaa;padding: 10px 0 10px 0"><b>4.电机额定功率及油箱容积标准</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>电机额定功率表</b></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: #aaa;height:auto">
                                            <img style="width:600px" src="\yyggl.jpg"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>油箱容积标准表</b></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: #aaa;height:auto">
                                            <img style="width:600px" src="\yxrj.jpg"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <input type="hidden" name="pdfType"/>
                        </form>

                            <div class="navbox">
                                <div style="width:600px;height:520px; font-size: 14px   ;">
                                    <table id="pdf3tb" style="background-color: rgb(220,220,220)">
                                        <tr>
                                            <td colspan="3" style="padding: 10px 0 10px 0;background-color: rgb(220,220,220);"><b>核算结果</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td style="width:30%;"><b>名称</b></td>
                                            <td style="width:50%;"><b>数值</b></td>
                                            <td style="width:20%;"><b>单位</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td><b>液压缸计算功率</b></td>
                                            <td id="yyggl"></td>
                                            <td><b>kW</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td><b>选用电机额定功率</b></td>
                                            <td id="yygdjgl"></td>
                                            <td><b>kW</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td><b>油箱计算所需容积</b></td>
                                            <td id="yygyxrj"></td>
                                            <td><b>L</b></td>
                                        </tr>
                                        <tr style="background-color: rgb(220,220,220)">
                                            <td><b>选用油箱型号</b></td>
                                            <td id="yygyxxh"></td>
                                            <td><b> </b></td>
                                        </tr>
                                     </table>
                                </div>
                            </div>
                        </div>
                        <div class="buttonbox">
                            <input style="cursor: pointer" type="submit"  class="button" type="submit" value="校验" onclick="showjy();return janyan()"/>
                            <input style="cursor: pointer" type="submit" form="form1" class="button" value="保存数据"
                                   onclick="isCheck(false);$('form').attr('action','saveValue')"/>
                            <input style="cursor: pointer" type="submit" form="form1" class="button"  value="导出pdf" onclick="$('form').attr('action','/YygglYxrj/getPDF');
                                                                                                                isCheck(false);changeType('Calculation')"/>
                            <input style="cursor: pointer" type="reset" form="form1" value="重置" onclick="$('#pdf3tb td[id]').text('')"/>
                        </div>
                </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    (function () {
        window.htmlData = {};
    })()
</script>
<script th:src="@{/js/home.js}"></script>
<script>
    vm.$mount('#app')
</script>
<script>
    yygModelList={
        "缸径40":{
            yygdd:40,
            yygxd:25,
            yyggcyl:16,
        },
        "缸径50":{
            yygdd:50,
            yygxd:32,
            yyggcyl:16,
        },
        "缸径63":{
            yygdd:63,
            yygxd:45,
            yyggcyl:16,
        },
        "缸径80":{
            yygdd:80,
            yygxd:55,
            yyggcyl:16,
        },
        "缸径90":{
            yygdd:90,
            yygxd:63,
            yyggcyl:16,
        },
        "缸径100":{
            yygdd:100,
            yygxd:70,
            yyggcyl:16,
        },
        "缸径110":{
            yygdd:110,
            yygxd:80,
            yyggcyl:16,
        },
        "缸径125":{
            yygdd:125,
            yygxd:90,
            yyggcyl:16,
        },
        "缸径140":{
            yygdd:140,
            yygxd:100,
            yyggcyl:16,
        },
        "缸径150":{
            yygdd:150,
            yygxd:105,
            yyggcyl:16,
        },
        "缸径160":{
            yygdd:160,
            yygxd:110,
            yyggcyl:16,
        },
        "缸径180":{
            yygdd:180,
            yygxd:125,
            yyggcyl:16,
        },
        "缸径200":{
            yygdd:200,
            yygxd:140,
            yyggcyl:16,
        },
        "缸径220":{
            yygdd:220,
            yygxd:160,
            yyggcyl:16,
        },
        "缸径250":{
            yygdd:250,
            yygxd:180,
            yyggcyl:16,
        },
    };

</script>
<script type="text/javascript">
    function isNumber(value) {         //验证是否为数字
        var patrn = /^(-)?\d+(\.\d+)?$/;
        if (patrn.exec(value) == null || value == "") {
            return false
        } else {
            return true
        }
    }

    function janyan() {
        $.ajax({
            url: "/YygglYxrj/jy",
            type: "post",
            data: $("form").serialize(),
            async: false,
            dataType: "json",
            cache: false,
            success: function (data) {
                Object.keys(data).forEach(function (id) {
                    $("#" + id).text(data[id]);
                })
            }
        })
        return false;
    }

    function showImage(form,element) {
        // 先获取用户上传的文件对象
        var fileObj = form.files[0];
        if(fileObj.size>1048576){
            alert("上传文件大于1M，请重新选择");
            form.value="";
            return false;
        }
        // 生成一个文件读取的内置对象
        var fileReader = new FileReader();
        // 将文件对象传递给内置对象
        fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
        // 将读取出文件对象替换到img标签
        fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
            $('#'+element).attr('src',fileReader.result).attr('display','inline-block')
        }
    }
</script>

<script>
    function changeType(l){
        var e = $('input[name=pdfType]');
        if (e.length == 0) {
            $('form').append('<input name="pdfType" type="hidden"/>');
        }
        e = $('input[name=pdfType]');
        e.val(l);
    }
    var calculateFunction={

        yygdd:function(){
            return yygModelList[ yygModel ]['yygdd'];
        },
        yygxd:function(){
            return yygModelList[ yygModel ]['yygxd'];
        },
        yyga:function(){
            return 3.14 * yygdd * yygdd / 4 ;
        },
        yyggcyl:function(){
            return yygModelList[ yygModel ]['yyggcyl'];
        },
        yygv:function(){
            return yygs / 1000 / yygt ;
        },
    };

    data.init(calculateFunction);
    imgDaefultData={
        yygtu1:{inputvalue:"yygtu1.png"},
    }
    getData.dataToImage(imgDaefultData);
</script>
<script>
    $('input[name="getData"]').click(function () {
            var url = '/YygglYxrj/getData';
            var id = $('input[name="sjht"]').val();
            getData.geteDataFromDB(url, id)
        }
    )
</script>

</body>
</html>